{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Task detail{% endblock title %}

{% block content %}

<h1>Task detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "task-list1"    object.step.pk    %}"> 
    Task list
</a>
<a class="btn btn-warning" href="{% url "task-update"    object.pk   %}"> 
    Task update
</a>
<a class="btn btn-danger" href="{% url "task-delete"    object.pk   %}"> 
    Task delete
</a>
<a class="btn btn-info" href="{% url "work-create"    object.pk   %}"> 
    Work create
</a>
<a class="btn btn-success" href="{% url "work-list1"    object.pk   %}"> 
    Work list
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Step</td>
        <td>

        	{{object.step}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
</table>

{% for object in work_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>task</b>: {{object.task}}

    </div>
    <div class="">
        <b>name</b>: {{object.name}}

    </div>
    <div class="">
        <b>url</b>: {{object.url}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
    <div class="">
        <b>file</b>: {{object.file}}

    </div>
    <div class="">
        <b>parent_work_id</b>: {{object.parent_work_id}}

    </div>
    <div class="">
        <b>description</b>: {{object.description}}

    </div>

<div class="actions">
    <a class="btn btn-primary" href="{% url "work-detail" object.pk %}">Work detail</a>
</div>
</div>
</div>
{% endfor %}


{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
