{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Task detail{% endblock title %}

{% block content %}

<h1>Task detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "task-list1"    object.step.pk    %}"> 
    Task list
</a>
<a class="btn btn-warning" href="{% url "task-update"    object.pk   %}"> 
    Task update
</a>
<a class="btn btn-danger" href="{% url "task-delete"    object.pk   %}"> 
    Task delete
</a>
<a class="btn btn-success" href="{% url "work-list1"    object.pk   %}"> 
    Work list
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Step</td>
        <td>

        	{{object.step}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
</table>

<div class="panel panel-default">
<div class="panel-heading">Works</div>
<div class="panel-body">
{% for object in work_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "work-detail" object.pk %}">{{object.name}}</a> 
         <p>{{object.description}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-info" href="{% url "work-create"    object.pk   %}"> 
    Work create
</a>
</div>
</div>


{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
