{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Step list{% endblock title %}

{% block content %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
  {% for view_type in allowed_view_types %}
    <li><a class="navbar-brand" href="?view_type={{view_type}}">{{view_type|title}}</a></li>
  {% endfor %}
  </ul>
</nav>
<br>
<h1>list</h1>
<br/>
<br/>
<div>
    
</div>
<br/>

<div class="search-block">
{% crispy filter.form %}
</div>
<br/>



{% for object in object_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>user</b>: {{object.user}}

    </div>
    <div class="">
        <b>name</b>: {{object.name}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>deliverables</b>: {{object.deliverables}}

    </div>
    <div class="">
        <b>priority</b>: {{object.priority}}

    </div>
    <div class="">
        <b>plan</b>: {{object.plan}}

    </div>
    <div class="">
        <b>objective</b>: {{object.objective}}

    </div>
    <div class="">
        <b>investables</b>: {{object.investables}}

    </div>

<div class="actions">



    <a class="btn btn-primary" href="{% url "step-detail" object.pk %}">Step detail</a>













</div>
</div>
</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
