{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}{% trans "Idea create" %}{% endblock title %}

{% block content %}

<h1>{% trans "Idea create" %}</h1>
<br/>
<br/>
{% if goal_object %}
<table class="table">
    <tr>
        <td>{% trans "Goal" %}</td>
        <td>

            <a href="{% url "goal-detail" goal_object.pk %}">{{goal_object}}</a>

        </td>
    </tr>
</table>
{% endif %}
<div>
    
</div>
<br/>

{% crispy form %}
{% markdown_media %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var s2_endpoints_param_gen_for_definition = function(term, page) {
        var proxFunc = $.proxy(django_select2.get_url_params, this);
        // no need for a custom func here.
        var results = proxFunc(term, page, 'django_select2.process_results');
        results.type = $('#id_type').val();
        return results;
    };

    var s2_endpoints_param_gen_for_goal = function(term, page) {
        var proxFunc = $.proxy(django_select2.get_url_params, this);
        // no need for a custom func here.
        var results = proxFunc(term, page, 'django_select2.process_results');
        results.definition = $('#id_definition').val();
        return results;
    };
</script>
{% endblock extra_js %}
