{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Idea detail{% endblock title %}

{% block content %}

<h1>Idea detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "idea-list1"    object.goal.pk    %}"> 
    Idea list
</a>
<a class="btn btn-success" href="{% url "plan-list1"    object.pk   %}"> 
    Plan list
</a>
<a class="btn btn-warning" href="{% url "idea-update"    object.pk   %}"> 
    Idea update
</a>
<a class="btn btn-info" href="{% url "idea-create"    object.goal.pk    %}"> 
    Idea create
</a>
</div>
<br/>
<div>
<ol class="breadcrumb">
            <li>need: <a href="{% url "need-detail" object.goal.need.pk %}">{{object.goal.need }}</a></li>
            <li>goal: <a href="{% url "goal-detail" object.goal.pk %}">{{object.goal }}</a></li>
</ol>
</div>
<br/>

<table class="table">
    <tr>
        <td>Description</td>
        <td>

        	{{object.description}}
	        

        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Summary</td>
        <td>

        	{{object.summary}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
    <tr>
        <td>Goal</td>
        <td>

        	<a href="{% url "goal-detail" object.goal.pk %}">{{object.goal}}</a>
	        

        </td>
    </tr>
</table>

<div class="panel panel-default">
<div class="panel-heading">Plans</div>
<div class="panel-body">
{% for object in plan_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "plan-detail" object.pk %}">{{object.name}}</a> 
         <p>{{object.situation}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-success" href="{% url "plan-create"    object.pk   %}"> 
    Plan create
</a>
</div>
</div>

{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
