{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Idea detail{% endblock title %}

{% block content %}

<h1>Idea detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "idea-list1"    object.goal.pk    %}"> 
    Idea list
</a>
<a class="btn btn-success" href="{% url "plan-list1"    object.pk   %}"> 
    Plan list
</a>
<a class="btn btn-success" href="{% url "plan-create"    object.pk   %}"> 
    Plan create
</a>
<a class="btn btn-warning" href="{% url "idea-update"    object.pk   %}"> 
    Idea update
</a>
<a class="btn btn-info" href="{% url "idea-create"    object.goal.pk    %}"> 
    Idea create
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Description</td>
        <td>

        	{{object.description}}
	        

        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Summary</td>
        <td>

        	{{object.summary}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
    <tr>
        <td>Goal</td>
        <td>

        	{{object.goal}}
	        

        </td>
    </tr>
</table>

{% for object in plan_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>name</b>: {{object.name}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>idea</b>: {{object.idea}}

    </div>
    <div class="">
        <b>deliverable</b>: {{object.deliverable}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
    <div class="">
        <b>situation</b>: {{object.situation}}

    </div>

<div class="actions">



    <a class="btn btn-primary" href="{% url "plan-detail" object.pk %}">Plan detail</a>













</div>
</div>
</div>
{% endfor %}

{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
