{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}{% trans "Problems" %}{% endblock title %}

{% block content %}
<h1>{% trans "Problems" %} <a href="{% url "goal-create" %}"><i class="fa fa-plus-circle"></a></i></h1>

<div class="search-block" style="text-align: center;">
{% crispy filter.form %}
</div>
<br/>

{% for object in object_list %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{% url "goal-detail" object.id %}">{{ object.name }}</a></div>
    <div class="panel-body">
        {{ object.reason|markdown }}
    </div>

</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
