{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Goal list{% endblock title %}

{% block content %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
  {% for view_type in allowed_view_types %}
    <li><a class="navbar-brand" href="?view_type={{view_type}}">{{view_type|title}}</a></li>
  {% endfor %}
  </ul>
</nav>
<br>
<h1>list</h1>
<br/>
<br/>
<div>
    
</div>
<br/>

<div class="search-block" style="text-align: center;">
{% crispy filter.form %}
</div>
<br/>



{% for object in object_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>name</b>: {{object.name}}

    </div>
    <div class="">
        <b>reason</b>: {{object.reason|markdown}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
    <div class="">
        <b>topic</b>: {{object.definition}}

    </div>

<div class="actions">



    <a class="btn btn-primary" href="{% url "goal-detail" object.pk %}">Goal detail</a>













</div>
</div>
</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
