{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Translation update{% endblock title %}

{% block content %}

<h1>Translation
<span style="text-decoration:none;">[

<span class="badge"><a style="color:white;"href="/{{ translation.content_type }}/{{ translation.content_object.id }}/detail/?lang={{translation.language.language_code}}">{% trans "view" %}</a></span>, 

<a href="{% url "delete-translation" object.id %}">delete</a>]</span>
</h1>
<br/>

[{% trans "object:" %} <span class="badge" style="background-color:brown;"><a style="color:white;" href="/{{ translation.content_type }}/{{ translation.content_object.id }}/update/">{% trans "edit" %}</a></span>, <a href="/{{ translation.content_type }}/{{ translation.content_object.id }}/detail/">view</a>]
<div>
    
</div>
<br/>

{% crispy form %}
{% markdown_media %}

{% endblock content %}
