{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block page_title %}Login{% endblock page_title %}

{% block content %}

<h1>{% trans "Sign in" %}</h1>

{% blocktrans %}
Have no account? Sign up <a href="/user/signup/">here</a>.
{% endblocktrans %}
<center>
    <div>
        <a class="octocat-login" href="{% provider_login_url "github" %}"><i class="fa fa-github"></i></a>
    </div>
    <span style="font-variant: small-caps;">{% trans "octocats get a free pass" %}</span>
</center>

{% comment %}
<a href="{% provider_login_url "github"  %}" class="btn btn-primary">github</a>
    
{% endcomment %}



<br/>
{% crispy form %}
<br/>
<a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>



{% endblock content %}
