# Project-specific stuff
# folder to serve static files
assets
media
components
# file with secret information
src/conf/local.py
htmlcov

# General stuff
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

Virtualenv
.env
env
.vimrc

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings
.idea
.coverage

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

node_modules
# src/static/bundle
