{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% load vote_extras %}
{% load django_markdown %}
{% load country_isocode %}

{% block extra_js %}
  <script src="{% static 'js/comment_vote.js' %}"></script>
{% endblock extra_js %}

{% block extra_css %}
  {% if request|get_country_by_ip != 'CN' %}
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  {% else %}
   <link rel="stylesheet" href="{% static "cdn/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" %}" />
  {% endif %}
{% endblock extra_css %}


<script>
function getfocus() {
    document.getElementById("id_name").focus();
}

function fillfocus(text) {
    document.getElementById("id_text").value = text;
    document.getElementById("id_text").focus();
}
</script>
{% if request.user.is_authenticated %}
<script>
/* Dynamic top menu positioning */

var num = 0; //number of pixels before modifying styles

$(window).bind('scroll', function () {
    if ($(window).scrollTop() > num) {
        $('.invite_fd').addClass('invite_fx');
    } else {
        $('.invite_fd').removeClass('invite_fx');
    }
});
</script>
<button type="button" onclick="fillfocus('')">{% trans "New comment" %}</button>
<br/>
<br/>
{% else %}
<a style="color:black;" href="{% url "account_login" %}?next={{ request.path }}#comment"><button type="button">comment</button></a>
<br/>
<br/>
{% endif %}

{% for object in object_list %}
<div id="comment-{{object.id}}" class="comment">

    <div>
       {{object.text|markdown}}

    </div>

    <div class="actions">
        {% for transaction in object.paypal_transaction.all %}
        <div class="transaction" name="transaction-{{transaction.id}}"><b>+ {{transaction.amount}} {{transaction.currency}}</b> [{{transaction.sender_user}}] → [{{transaction.receiver_user}}] <b>via</b> PayPal [{{transaction.paymentExecStatus}}]
            </div>
        {% endfor %}

        {% for transaction in object.cryptsy_transaction.all %}
        <div class="transaction" name="transaction-{{transaction.id}}"><b>+ {{transaction.amount}} {{transaction.address.currency_code}}</b> [{{transaction.sender_credential.user}}] → [{{transaction.address.user}}] <b>via</b> Cryptsy [{{transaction.created_on}}]
        </div>
        {% endfor %}
        <div align="right">
        {% if object.hours_claimed or object.hours_assumed %}
        [<a href="{% url "payments:transaction_paypal" object.id %}"><i class="fa fa-paypal"></i> PayPal</a><!--,
        <a href="{% url "payments:transaction_cryptsy" object.id %}"><i class="fa fa-btc"></i> Cryptsy</a>-->]
        {% endif %}
        </div>
    </div>

    <div class="actions">
    <div class="alignright date">

        --[<a href="{% url "user-detail" object.user.username %}">{{object.user.username}}</a>], {{object.created_at}}<br/>
        <div class="alignright">
            {% if object.user == request.user %}[<a href="{% url "comment-update" object.id %}?next={{ request.path }}#comment-{{object.id }}">{% trans "edit" %}</a>, <a href="{% url "comment-delete" object.id %}?next={{ request.path }}">{% trans "delete" %}</a>]
            {% else %}
            <button type="button" onclick="fillfocus('[{{ object.user }}] ')">{% trans "reply" %}</button>
            {% endif %}
        </div>
    </div>
        <div style="float:left;">	
			<span id="total-votes-{{object.id}}">{{ object.votes }}</span> - 

			{% if request.user.is_authenticated %}
			<!-- neutral vote -->
			{% if object|user_vote_info:request.user == 0 %}
			<i id="thumb-up-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Up" %}" class="fa fa-thumbs-o-up" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': 1});"></i> |
			<i id="thumb-down-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Down" %}" class="fa fa-thumbs-o-down" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': -1});"></i>

			<!-- positive vote -->
			{% elif object|user_vote_info:request.user == 1 %}
			<i id="thumb-up-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Up" %}" class="fa fa-thumbs-up" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': 1});"></i> |
			<i id="thumb-down-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Down" %}" class="fa fa-thumbs-o-down" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': -1});"></i>

			<!-- negative vote -->
			{% elif object|user_vote_info:request.user == -1 %}
			<i id="thumb-up-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Up" %}" class="fa fa-thumbs-o-up" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': 1});" style="hover { background-color: black"></i> |
			<i id="thumb-down-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Down" %}" class="fa fa-thumbs-down" onclick="send_vote({'comment_id': {{object.id}}, 'vote_value': -1});"></i>
			{% endif %}

			{% else %} <!--not logged in-->

				<i id="thumb-up-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Up" %}" title="Vote Up" class="fa fa-thumbs-o-up" onclick="location.href = '{% url "account_login" %}';"></i> |
				<i id="thumb-down-{{object.id}}" data-toggle="tooltip" title="{% trans "Vote Down" %}" class="fa fa-thumbs-o-down" onclick="location.href = '{% url "account_login" %}';"></i>
				<script>

				var original_up = $("#thumb-up-{{object.id}}").attr("class");
				var original_down = $("#thumb-down-{{object.id}}").attr("class");

				// visual feedback for thumbs down
				$("#thumb-up-{{object.id}}").hover(
				function () {
					$(this).removeClass(original_up);
					$(this).addClass("fa fa-thumbs-up");
				},
				function () {
					$(this).removeClass("fa fa-thumbs-up");
					$(this).addClass(original_up);
				});

				// visual feedback for thumbs down
				$("#thumb-down-{{object.id}}").hover(
				function () {
					$(this).removeClass(original_down);
					$(this).addClass("fa fa-thumbs-down");
				},
				function () {
					$(this).removeClass("fa fa-thumbs-down");
					$(this).addClass(original_down);
				});
				</script>

			{% endif %}

			- {% trans "credit" %} <span id="comment-credit-{{object.id}}">{{ object.comment_credit|floatformat:1 }}</span> ħ
        </div>
    </div>

    <br>
    <hr>
</div>
{% endfor %}

<script>
// tooltip
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% if request.user.is_authenticated %}
<div id="comment" class="panel panel-default input-comment">
<div class="panel-body">
{% crispy form %}
{% markdown_media %}
</div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        {% crispy conversation_form %}
    </div>
</div>
{% else %}
<!-- logged out end of comment list -->
{% endif %}


{% if request.user.is_authenticated %}
<div class="invite_fd"><b><a href="#id_name" onclick="getfocus()" style="color:white; text-decoration: none;">{% trans "Invite a friend to help!" %}</a></b></div>
{% endif %}
