{% load staticfiles %}
{% load i18n %}
{% load country_isocode %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}infinity{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}{% endblock head %}

    <!-- Le styles -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootswatch/lumen/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "jquery-ui/themes/smoothness/jquery-ui.min.css" %}" rel="stylesheet">

    {# Form media css #}
    {{ form.media.css }}
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      {% if request.get_full_path == "/i" %}
      body {
      background-color: #c0c0c0;
      }
      .panel {
      background-color: #f0f0f0;
      }
      {% endif %}
      
    </style>
    <!-- This file store project specific CSS -->
    <link href="{% static "css/infinity.css" %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template, then move to infinity.css -->
    {% block extra_css %}{% endblock extra_css %}

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>

    <script src="{% static "js/infinity.js" %}"></script>

    <script type="text/javascript">

    $(document).ready(function(){
      $(".dateinput").datepicker({});
      //$.fn.select2.defaults.allowClear = true;
    })
      
    </script>
    {% block extra_js %}{% endblock extra_js %}
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

      {% include "includes/_navbar_new.html" %}

    <div class="container top-space" >
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ message|safe }}
        </div>
    {% endfor %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>

      {% endblock content %}
	    <hr>
			  
		<div align="center"><a href="{% url "about" %}"><b>{% trans "About" %}</b></a>, <a href="/terms">{% trans "Terms of Service" %}</a>, <a href="/policy">{% trans "Operation Policy" %}</a>, <a href="/dev">{% trans "Development" %}</a>{% if request.user.is_authenticated %}, <a href="{% url "account_logout" %}"><b>{% trans "Logout" %}</b></a> {% endif %}</div>

      {% block javascript %}
      {% endblock javascript %}

    </div> <!-- /container -->

    {# Form media js #}
    {{ form.media.js }}

    {% block select2_js %}{% endblock %}
  </body>
</html>
