{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}/dev{% endblock %}

{% block page_title %}/dev{% endblock page_title %}

{% block content %}
<h1>{% trans "Open Source" %}</h1>

<p>We believe in open development and in open communication between platforms. While people and organizations fork projects their custom needs and make project copies for securing information for strategic partners and friends, we want to do our best to make the forked projects able to communicate between each other, so that people can easily integrate the information from various forks, when they need to make global decisions accounting for the needs of everyone, and deciding on what's best for everyone.</p>

<p>This requires time to get it right, therefore, we are not yet open source. We are working on it.</p>

<p>Our future repositories, once we will be open source, are:</p>

<ul>
    <li><a href="https://github.com/inxyz">https://github.com/inxyz</a></li>
</ul>

<p>Send us an e-mail to <u>desk@infty.xyz</u> with subject "<b>dev</b>" if you want to get notified, when this will be available.</p>

{% endblock content %}
