{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block page_title %}Help{% endblock page_title %}

{% block content %}
<h1>How does it work?</h1>

<p><b>If you want something, you set a <u>goal</u>, and think how to achieve it. This thinking leads to <u>ideas</u>, based on which, you construct a <u>plan</u> defining it in terms of steps, and break it down to <u>tasks</u>, and document any works you do. <u>Talk about it</u>.</b></p>

<p><i>To start getting funded</i>:
<ol>
    <li>Mention your work by adding links to actual works.
    <li>Claim your hours by writing {hours} within curly braces :)
    <li>Invite your friends to help! :)
</ol>

<p><b>Spent half an hour and have what to show?</b> Write {0.5} inside the comment. This will trigger the payment options to show up, and others can support your work, no matter how small!</b>

<p><b>Don't yet have work, and you need money even to start it?</b> Write the number of hours you expect to spend by adding a question mark before your estimate, e.g., {?0.5}. This will also trigger the payment options to appear, and others can support it.</p>

<p>It's that easy!</p>

<h1>Guidelines</h1>

<p>Different sections require different nature of discussion:</p>

<b>Goals [Problems]</b> - think like United Nations assembly member, think what matters? <b>Be inquisitive!</b><br/>
<b>Ideas [Solutions]</b> - think like a halfbaker, nothing is impossible! <b>Be speculative!</b><br/>
<b>Plans [Projects]</b> - think like a CEO, we have people, assets, and mission. <b>Be strategic!</b><br/>
<b>Steps [Milestones]</b> - think like a manager, we have to get it done. <b>Be calculating!</b><br/>
<b>Tasks [Assignments]</b> - think like an engineer, and how to do it, and attention to details. <b>Be methodical!</b>


<!--
<p><i>Infty.XYZ</i> relies on 3 core concepts central to computer science, statistics and economics: <i>list</i>, <i>random variable</i>, <i>asset</i>.</p>

<h2>Concepts</h2>

<p>A <i>concept</i> in <i>Infty.XYZ</i> is <i><u>an expression and definition of a thing in some language</u></i>. For example:

<pre><b>Concept</b>(<b>Language</b>="English",
     <u>name</u>="Sky",
     <u>definition</u>="Outer space visible from the Earth's surface, infinitely extending above us and limited by the horizon.")</pre>
</p>

<p>Economically, a concept is a reference to asset type; statistically, it is a reference to a random variable. People formulate goals in terms of well-defined concepts. You will find <i>Infty.XYZ</i> already pre-filled with Concepts from <a href="http://www.omegawiki.org/">Ω-Wiki</a>, an inter-lingual concept map. To define a Concept, it is sufficient to provide the head word, and a definition in some language of choice.</p>

Although you can always define your own Concept, we will do our best that you would not have to. Each need based on Ω-Wiki has a <u>.defined_meaning_id</u> attribute, which makes it possible to display all goals created on the basis of the same concept in one place (no matter what language was used to create the need refering to it), making it possible to find goals described in all languages aimed at fullfilling the demand for things referred to by a Concept.


<h2>Categories</h2>

<pre><b>Category</b>(<u>name</u>="Emotional: Partner")
</pre>

<p>Categories are the high level classes of <a href="http://www.systemsthinker.com/interests/systemsthinking/humansystems/humanneeds.shtml">needs</a>. There are broad categories like <b>Physical</b>, <b>Intellectual</b>, <b>Emotional</b>, <b>Spiritual</b> (and possibly others) and narrower categories like <b>Physical: Food</b>, <b>Intellectual: Gaming</b>, and narrower like <b>Emotional: Partner: Soulmate</b></p>

<p>The pair of <b>(Concept, Category)</b> describes the object and purpose of a volition, and is used in defining <b>Goals</b>. So, for example, a pair <b>('Dog', 'Emotional: Pet')</b> describes the desire for a home pet, while <b>('Dog', 'Physical: Hunting')</b> describes the desire for a hunting assistant.</p>

<h2>Goals</h2>

<p>A <i>goal</i> in <i>Infty.XYZ</i> is a need with a name -- <i><u>something that could be requested, and quantified</u></i>. Think of it as a request. It has to refer a need, and specify request name, and reason. For example:<br>
<pre><b>Goal</b>(<b>Category</b>="Emotional: Pet",
                 <b>Concept</b>="Cat",
     <u>name</u>="Cute Vivid Black Siamese",
     <u>conditions</u>="Satisfied, if it is younger than 3 years, healthy, etc.")</pre>

<p>Mathematically, a Goal is a set of conditions to satisfy, e.g., set of random variables with desired ranges of their values to consider the goal "achieved". In the first iterations of <i>Infty.XYZ</i>, we simplify this by providing a text field to describe <u>conditions</u> of acceptance. We look forward to implementing more complex and formal conditions options in the future.</p>

<h2>Ideas</h2>

<p>An <i>idea</i> in <i>Infty.XYZ</i> is a principle to realize a Goal (i.e., a <i>principle</i> to get the<i>random variables of goal conditions</i> into a multi-dimensional desired range).</p>
<pre><b>Idea</b>(<b>Goal</b>="Fly man to the Moon",
     <u>name</u>="Chemical Propulsion To Fly to The Moon",
     <u>summary</u>="Combine 3-stage booster rockets with instrument unit, 
     LEM-adapter, and spacecraft to get a reliable space vehicle that
     could fly men to the Moon",
     <u>description</u>="...(long text)...")</pre>

<p>Mathematically speaking, an idea is a map that promises to take a random variable/asset into a desired range. A great idea is a configurable map that takes a broad class of commonly seen situations, and promises to convert them into a broad class of desired situations at a relatively low cost. It often comes from setting a personal goal, and then generalizing it by thinking how to solve it once and for all.</p>

<h2>Plans</h2>

<p>A <i>plan</i> in <i>Infty.XYZ</i> is a quintuplet (<i>idea, means, situation, deliverable, <u>steps</u></i>) -- <u>something that realistically would take a particular person or group from a specific situation to a specific destination</u>. Think of it as an instance of an idea.</p>

<p>We can have an idea of a car, but to build a car for someone who is in <i>(situation=south pole)</i>, and <i>(deliverable=snow roadster)</i>, when they have just <i>(means=ice printer, liquid nitrogen tanks)</i> is a totally different instantiation of the same idea of "car", than for someone making a car in the continental China from metal.</p>

<pre><b>Plan</b>(<b>Idea</b>="Car",
     <u>name</u>="ice printer, liquid nitrogen tanks",
     <u>situation</u>="we are 3 friends in south pole",
     <u>deliverable</u>="we will have a snow roadster with ice engines that we can drive",
     <b><u>steps</u></b>=...)</pre>

<p>As you may notice, a plan may instantiate multiple ideas. We could easily have said, Plan(Idea("Car"), Idea("Combustion Engine")). Right now, <i>Infty.XYZ</i> does not yet support creating a Plan based on many ideas, therefore, please, re-define or define new (more abstract, elaborate and complex) Ideas, and then create Plans based on them.</p>

<p>Also notice that the <i>Infty.XYZ</i> concept of a Plan most closely coincides with what colloquially people call "Project", or "Company". In fact, by adjusting the parameters of a plan, you could technically obtain many things -- from a company in a stock market, to a kickstarter project, therefore, keep in mind, that depending on your plan, your activities may be a subject to local regulations!</p>

<h2>Steps</h2>

<p>A <i>step</i> in <i>Infty.XYZ</i> is a first level decomposition of a Plan. Think of it as a milestone in getting a Plan's deliverable.</p>

<pre><b>Step</b>(<b>Plan</b>="...",
     <u>priority</u>=1,
     <u>name</u>="getting algorithms to work",
     <u>objective</u>="have at least least one algorithm do performance",
     <u>investables</u>="statistician hours 50\100, domain specialist hours 50\100",
     <u>deliverables</u>="a working algorithm 1\2")</pre>

<p>Note that priority gives possibility to sort the steps in a plan, and the <u>.investables, .deliverables</u> allows to do automatic expected value over time analyses, as explained in <a href="https://github.com/Mindey/IdeaLib">IdeaLib</a>. Right now, the analyses are considered only for the "steps" level, but we could extend it to include deeper levels of the <a href="http://arxiv.org/abs/1403.7426">hierarchical task network</a> below the Plan in the future to let people automatically make decisions about -- which Plan will give what they want.</p>

<h3>Problem Solving</h3>
<p>Note that if we include statistical data about subjects and objects in the world (from general and/or personal tracking systems, such as <a href="http://www.worldometers.info/">worldometers.info</a>, or personal smartphones), we could formally define <b>Problem</b> as a mismatch between the <u>observed data</u> and the <u>Goals</u>, and define <b>Solving</b> as choosing and executing the Plans with highest expectation to bring the <i>random variables</i> we are concerned about to the desired ranges.</p>


<h2>Tasks</h2>

<p>A <i>task</i> in <i>Infty.XYZ</i> is a second level decomposition of a Plan. Think of it as a model of a job that has to be done.</p>

<pre><b>Task</b>(<b>Step</b>="...",
     <u>priority</u>=1,
     <u>name</u>="set up development environment")</pre>

<h2>Works</h2>

<p>A <i>work</i> in <i>Infty.XYZ</i> is a result of an attempt to work on a Task. Think of it as an instance of a task.</p>

<p>Multiple people can freely attempt to do a task of other people, and display/upload their results by adding works to tasks.</p>

<pre><b>Work</b>(<b>Task</b>="...",
     <u>name</u>="made the measurements of size of observable universe",
     <u>description</u>="the results were 93 Gly",
     <u>url</u>="...",
     <u>attachment</u>="...",
     <u>parent</u>=None)</pre>

<p>Note that work, unlike other objects, can have follow-up works (foreign-key to itself), making it possible to have a potentially infinite hierarchy of follow-up works.</p>
-->
{% endblock content %}
