{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load django_markdown %}
{% load country_isocode %}
{% load get_translation %}

{% block title %}{% trans "Economic & Innovation Forum" %}{% endblock %}

{% block page_title %}Index{% endblock page_title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "stylesheets/accordion.css" %}" />

<script type="text/javascript" src="{% static "js/accordion.js" %}"></script>

<style>
    .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
    #navigation {
    padding-left: 15px;
    padding-right: 15px;
}

/* the rest below is for accordion link styles, because: */
/* putting these lines to css/accordion.css makes icons disappear */

.social-links:hover a:after {
  color: black;
  background-color: #b0b0b0;
}

/* line 141, ../sass/accordion.scss */
.goal-icon a:before, .goal-icon a:after {
  content: '\f100';
}
/* line 145, ../sass/accordion.scss */
.goal-icon a:after {
  /* @include background-image(linear-gradient(#7adcf9, #4bc9f5));*/
}

/* line 153, ../sass/accordion.scss */
.idea-icon a:before, .idea-icon a:after {
  content: '\f216';
}
/* line 157, ../sass/accordion.scss */
.idea-icon a:after {
  /* @include background-image(linear-gradient(#548abf, #295b9e));*/
}

/* line 165, ../sass/accordion.scss */
.plan-icon a:before, .plan-icon a:after {
  content: '\f425';
}
/* line 169, ../sass/accordion.scss */
.plan-icon a:after {
  /* @include background-image(linear-gradient(#00a9cd, #0083b4));*/
}
</style>

    <ul class="accordion" style="margin-left: 0px; margin-right:0px;">
      <li class="tabs" id="goals">
        <div class="social-links goal-icon">
          <a href="{% url "goal-create" %}">Goals</a>
        </div>
        <div class="paragraph" style="overflow:scroll;"> 
          <center>
          <h1>{% trans "Problems" %}</h1>
          <p>{% trans "Where people share and discuss the world's issues." %}</p>
          </center>
          <hr>
                {% if goal_list %}
                    {% for goal in goal_list %}

                        {% if goal.translation %} {# if goal translated #}

						    <!-- card style -->
							{% if forloop.counter|divisibleby:2 %}
							<div style="background-color:#ffffff; padding: 10px; padding-top: 20px; padding-bottom: 20px; border-bottom: #e0e0e0 1px dotted;">
							{% else %}
							<div style="background-color:#ffffff; padding: 10px; padding-top: 20px; padding-bottom: 20px; border-bottom: #e0e0e0 1px dotted;">
							{% endif %}

                                 {% if goal.object.is_link %}
                                     {% if goal.object.is_historical %}
                                     <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                     {% else %}
                                     <span class="badge">{% trans "link" %}</span>
                                     {% endif %}
                                 {% else %}
                                     {% if goal.object.is_historical %}
                                     <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                     {% endif %}
                                 {% endif %}
 
                                 <b>
                                     {% if goal.object.personal %}
                                     <i class="fa {% if goal.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                                     $ {{ goal.object.get_usd|floatformat:2 }}/{{ goal.object.get_remain_usd|floatformat:2 }}
                                     {% endif %}
                                 </b>
                                 
                                 <a {% if goal.is_new %}style="font-weight: bold"{% endif %} href="{% url "goal-detail" goal.object.pk %}?lang={{goal.translation.language.language_code}}#{{goal.object.commented_at|date:"U"}}">{{ goal.translation.name }}</a>

								 ({{goal.object.comment_count}} {% trans "comments" %}) 

                            <br/>

                            <p>{{goal.translation.reason|markdown|truncatewords_html:34}}</p>

          					</div> <!--/card style div-->

                        {% endif %}
                    {% endfor %}
					<!--<a href="{% url "goal-list" %}">{% trans "see more" %}</a>-->
                {% else %}
                {% endif %}
                    <center>
                    </center>

					{% if request.get_full_path == "/i" %}
					<p><i><u>{% trans "Example:" %}</u></i></p>
                    {% blocktrans %}
                    <p><b>Omelette Supply Problem</b></p>
                    <p>Omelette is a healthy and delicious food, which can be flavored in desired tastes. I like it, and I would like to eat omelete every morning, without any extra expenses.</p>
                    {% endblocktrans %}
                    {% endif %}
        </div>
      </li>
      <li class="tabs" id="ideas">
        <div class="social-links idea-icon">
          <a href="{% url "idea-create" %}">Ideas</a>
        </div>
        <div class="paragraph" style="overflow:scroll;">
          <center><h1>{% trans "Solutions" %}</h1></center>
          <center><p>{% trans "Where people share and discuss ideas how to solve them." %}</p></center>
          <hr>
                <div class="idea-list">
                {% if idea_list %}
                <p align="center">
                </p>
                {% for idea in idea_list %}


                    {% if idea.translation %} {# if idea translated #}

						{% if forloop.counter|divisibleby:2 %}
						<div style="background-color:#ffffff; padding: 10px; padding-bottom: 20px; padding-top: 20px; border-bottom: #e0e0e0 1px dotted;">
						{% else %}
						<div style="background-color:#ffffff; padding: 10px; padding-bottom: 20px; padding-top: 20px; border-bottom: #e0e0e0 1px dotted;">
						{% endif %}

                            {% if idea.object.is_link %}
                                {% if idea.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if idea.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                        <b>
                            {% if idea.object.personal %}
                            <i class="fa {% if idea.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                            {% endif %}
							<!-- $ {{ idea.object.get_usd|floatformat:2 }}/{{ idea.object.get_remain_usd|floatformat:2 }}-->

                        </b>

                        <a {% if idea.is_new%}style="font-weight: bold"{% endif %} href="{% url "idea-detail" idea.object.pk %}?lang={{idea.translation.language.language_code}}#{{idea.object.commented_at|date:"U"}}">{{ idea.translation.name }}</a>

						({{idea.object.comment_count}} {% trans "comments" %}</a>)

                        <br/>
                            <span style="font-variant:small-caps;">
								<!-- <i class="fa fa-bug"></i>-->
					        {% for goal in idea.object.goal.all %}

								{% if goal.personal %}
									{% if request.user in goal.sharewith or request.user == goal.user %}

									<a style="color:grey;" href="{% url "goal-detail" goal.id %}?lang={{request.LANGUAGE_CODE}}">{% get_translation goal request.LANGUAGE_CODE "name" %}</a>{% if forloop.last %}{% else %}, {%endif%} 

									{% else %}

									<a style="color:grey;" href="{% url "goal-detail" goal.id %}?lang={{request.LANGUAGE_CODE}}">{% trans "Private" %} (u:{{goal.user.username}})</a>{% if forloop.last %}{% else %}, {%endif%} 

									{% endif %}
								{% else %}
									<a style="color:grey;" href="{% url "goal-detail" goal.id %}?lang={{request.LANGUAGE_CODE}}">{% get_translation goal request.LANGUAGE_CODE "name" %}</a>{% if forloop.last %}{% else %}, {%endif%} 
								{% endif %}

							{% endfor %}
                            </span>
							<br/>

                        <p>{{idea.translation.description|markdown|truncatewords_html:34}}</p>

				        </div>
                    {% endif %}
                {% endfor %}
				<!--<a href="{% url "idea-list" %}">{% trans "see more" %}</a>-->

                {% else %}
                {% endif %}
                <center>
					<br>
                    <p><a href="{% url "idea-create" %}">{% trans "Add a solution" %}</a></p>
                </center>

				{% if request.get_full_path == "/i" %}
				<p><i><u>{% trans "Example:" %}</u></i></p>
                {% blocktrans %}
                <p><b>Roof Mini-Farm With Automated Egg Processor</b></p>
                <p>Hens don't really require much human work to maintain. Set up the robotic feeders, egg collectors, washers, breakers, timed mixers, spicers, cookers and dispensers - and have a self-sustaining supply of fresh omelete.</p>
                {% endblocktrans %}
                {% endif %}
                </div>



        </div>
      </li>
      <li class="tabs" id="plans">
        <div class="social-links plan-icon">
           <a href="{% url "plan-create" %}">Plans</a>
        </div>
        <div class="paragraph" style="overflow:scroll;">
          <center>
          <h1>{% trans "Projects" %}</h1>
          <p>{% trans "Where people start initiatives to realize them." %}</p>
          </center>
          <hr>
                <div class="plan-list">
                {% if plan_list %}

                {% for plan in plan_list %}


                    {% if plan.translation %}  {# if plan translated #}

						{% if forloop.counter|divisibleby:2 %}
						<div style="background-color:#ffffff; padding: 10px; padding-bottom: 20px; padding-top: 20px; border-bottom: #e0e0e0 1px dotted;">
						{% else %}
						<div style="background-color:#ffffff; padding: 10px; padding-bottom: 20px; padding-top: 20px; border-bottom: #e0e0e0 1px dotted;">
						{% endif %}

                            {% if plan.object.is_link %}
                                {% if plan.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if plan.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                    <b>
                        {% if plan.object.personal %}
                        <i class="fa {% if plan.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                        {% endif %}

                        $ {{ plan.object.get_usd|floatformat:2 }}/{{ plan.object.get_remain_usd|floatformat:2 }}
                    </b>

                    <a {% if plan.is_new%}style="font-weight: bold"{% endif %} href="{% url "plan-detail" plan.object.pk %}?lang={{plan.translation.language.language_code}}#{{plan.object.commented_at|date:"U"}}">{{ plan.translation.name }}</a>

					({{plan.object.comment_count}} {% trans "comments" %})

                    <br/>
                            <span style="font-variant:small-caps;">
								<!--<i class="fa fa-paper-plane"></i>-->
							{% if plan.object.idea.personal %}
							    {% if request.user in plan.object.idea.sharewith or request.user == plan.object.idea.user %}
								<a style="color:grey;" href="{% url "idea-detail" plan.object.idea.id %}?lang={{request.LANGUAGE_CODE}}">{% get_translation plan.object.idea request.LANGUAGE_CODE "name" %}</a></span> 
 							    {% else %}
								<a style="color:grey;" href="{% url "idea-detail" plan.object.idea.id %}?lang={{request.LANGUAGE_CODE}}">{% trans "Private" %} (u:{{plan.object.idea.user.username}})</a></span> 
								{% endif %}
							{% else %}
							<a style="color:grey;" href="{% url "idea-detail" plan.object.idea.id %}?lang={{request.LANGUAGE_CODE}}">{% get_translation plan.object.idea request.LANGUAGE_CODE "name" %}</a></span> 
							{% endif %}
							<br/>

                        <p>{{plan.translation.deliverable|markdown|truncatewords_html:34}}</p>

				    </div>

                    {% endif %}
                {% endfor %}
				<!--<a href="{% url "plan-list" %}">{% trans "see more" %}</a>-->

                {% else %}
                {% endif %}
                <center>
					<p><!--{% trans "Oops! You have no plans!" %}--></p>
                    <p><a href="{% url "plan-create" %}">{% trans "Add a project" %}</a></p>
                </center>

				{% if request.get_full_path == "/i" %}
				<p><i><u>{% trans "Example:" %}</u></i></p>
                {% blocktrans %}
                <p><b>$ 0.00 Omelette Microfarm Project</b></p>
                We expect to have a microfarm solutions provider, which sustains itself via a business model based on demand and supply, based on simple-to-install construction kits supply chain for home owners.</p>
				{% endblocktrans %}
                {% endif %}
                </div>

        </div>
      </li>
    </ul>

{% endblock content %}
