{% extends "base.html" %}
{% load i18n %}

{% load django_markdown %}

{% block title %}Index{% endblock %}

{% block page_title %}Index{% endblock page_title %}

{% block content %}
<style>
    .container {
    width: 100%;
}
</style>

<div class="alignright">
{% if not user.is_anonymous %}
    {% if user.invitationoption.invitations_left %}
    <b>
        [<a href="{% url "invite:send"  %}">{{user.invitationoption.invitations_left}} {% trans "invitations" %}</a>, <a href="/step/2/detail/">{% trans "write bugs" %}</a>, {% trans "time value" %}: 1 ħ = <a href="https://research.stlouisfed.org/fred2/series/CES0500000003">{{ hour_value.value|floatformat:2 }}</a> $]
    </b>
    {% endif %}
{% else %}
&nbsp;
{% endif %}
</div>

<div class="alignleft">

	<div class="btn-group" style="position: absolute; top:70px;">
	  <button type="button" class="btn-lg btn" style='font-weight: normal; text-transform: none; color: white; background-color: black; font-size: 18px; font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif' onclick="window.location.href={% url 'need-create' %}">{% trans "compose" %}</button>
	  <button type="button" class="btn-lg btn dropdown-toggle" style="color: white; background-color: grey;" data-toggle="dropdown">
		<span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
		  <li><a href="{% url 'goal-create' %}">{% trans "Goal" %}</a></li>
		  <li><a href="{% url 'idea-create' %}">{% trans "Idea" %}</a></li>
		  <li><a href="{% url 'plan-create' %}">{% trans "Plan" %}</a></li>
	  </ul>
	</div>


    <div style="margin-left: 165px; position: absolute; top: 70px;">
        <form action="{{request.get_full_path}}" method="get">
        <input name="s" autocomplete="off" class="btn-lg" tabindex="-1" type="text" aria-hidden="true" size="35" style="height: 48px; font-weight: normal; text-transform: none; color: white; background-color: #c0c0c0;font-size: 18px; font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif"><input class="btn-lg" type="submit" value="{% trans "Search" %}" style="height: 48px; color: GrayText;">
        </form>
    </div>
</div>

<div style="clear:both;">
    <br/>

    <link rel="stylesheet" href="/static/css/bootstrap-horizon.css">

    <div id="scroll_arrowleft"></div>
    <div id="scroll_arrowright"></div>

    <div class="row row-horizon">

<!-- start of Need -->

        <div class="panel panel-default col-md-7 block-content">
            <div class="panel-heading">
                {% trans "Needs" %}
                &nbsp; <a href="{% url "need-create" %}"><i class="fa fa-plus-circle"></i></a>&nbsp; - <b>
                    {% if request.get_full_path == '/i' %}
                    {% trans "share a need" %}
                    {% else %}
                    {% trans "write an open letter" %}
                    {% endif %}
                </b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="needs" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.needs == value %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if need_list %}
                    {% for need in need_list %}
                        {% if need.translation %} {# if need translated #}

                            {% if need.object.is_link %}
                                {% if need.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if need.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                            <b>
                                {% if need.object.personal %}
                                <i class="fa {% if need.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                                $ {{ need.object.get_usd|floatformat:2 }}/{{ need.object.get_remain_usd|floatformat:2 }}
                                {% endif %}
                            </b>
                            
                            {% if need.is_new %} {# if need is new #}
                                <b><a href="{% url "need-detail" need.object.pk %}?lang={{need.translation.language.language_code}}#{{need.object.commented_at|date:"U"}}">{{ need.translation.name }}</a></b>

                            {% else %} {# if need is old #}
                                <a href="{% url "need-detail" need.object.pk %}?lang={{need.translation.language.language_code}}#{{need.object.commented_at|date:"U"}}">{{ need.translation.name }}</a>
                            {% endif %}

                            ({{need.object.comment_count}} comments)

                            <br/>

                            <p>{{need.translation.content|markdown|truncatewords_html:34}}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <center>
                        <p>{% trans "Oops! You have no needs!" %}</p>
                        <p><a href="{% url "definition-create" %}">{% trans "Define a need" %}</a></p>
                        <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>discussion board</u>" %}</a>.</p>
                    </center>

                    {% blocktrans %}
                    <p><i><u>Example:</u></i></p>
                    <p><b>$ 0.00 I want an omelete</b></p>
                    <p>Hi, Alice! Could you buy me omelete this afternoon before going home?</p>
                    {% endblocktrans %}

                {% endif %}
            </div>
        </div>
<!-- end of Need -->

        <div class="panel panel-default col-md-4 block-content">
            <div class="panel-heading">
                <a href="{% url "goal-list" %}">{% trans "Goals" %}</a>
                &nbsp; <a href="{% url "goal-create" %}"><i class="fa fa-plus-circle"></i></a>&nbsp; - <b>{% trans "define a problem" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="goals" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.goals == value %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if goal_list %}
                    {% for goal in goal_list %}
                        {% if goal.translation %} {# if goal translated #}

                            {% if goal.object.is_link %}
                                {% if goal.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if goal.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                            <b>
                                {% if goal.object.personal %}
                                <i class="fa {% if goal.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                                $ {{ goal.object.get_usd|floatformat:2 }}/{{ goal.object.get_remain_usd|floatformat:2 }}
                                {% endif %}
                            </b>
                            
                            {% if goal.is_new %} {# if goal is new #}
                                <b><a href="{% url "goal-detail" goal.object.pk %}?lang={{goal.translation.language.language_code}}#{{goal.object.commented_at|date:"U"}}">{{ goal.translation.name }}</a></b>

                            {% else %} {# if goal is old #}
                                <a href="{% url "goal-detail" goal.object.pk %}?lang={{goal.translation.language.language_code}}#{{goal.object.commented_at|date:"U"}}">{{ goal.translation.name }}</a>
                            {% endif %}

                            ({{goal.object.comment_count}} comments) 

                            <br/>

                            <p>{{goal.translation.reason|markdown|truncatewords_html:34}}</p>
                        {% endif %}
                    {% endfor %}
                    <a href="{% url "goal-list" %}">{% trans "see more" %}</a>
                {% else %}
                    <center>
                        <p>{% trans "Oops! You have no goals!" %}</p>
                        <p><a href="{% url "goal-create" %}">{% trans "Add a problem" %}</a></p>
                        <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                    </center>

                    {% blocktrans %}
                    <p><i><u>Example:</u></i></p>
                    <p><b>$ 0.00 Omelette Supply Problem</b></p>
                    <p>Omelette is a healthy and delicious food, which can be flavored in desired tastes. I like it, and I would like to eat omelete every morning, without any extra expenses.</p>
                    {% endblocktrans %}
                {% endif %}
            </div>
        </div>

    {% if request.get_full_path == '/i' %}
        <div class="panel panel-default col-md-4 block-content">
    {% else %}
        <div class="panel panel-default col-md-7 block-content">
    {% endif %}
            <div class="panel-heading">
                <a href="{% url "idea-list" %}">{% trans "Ideas" %}</a>&nbsp;
                <a href="{% url "idea-create" %}"><i class="fa fa-plus-circle"></i></a>&nbsp; - <b>{% trans "suggest a solution" %}</b>
            </div>

            <div style="display:inline-block; float: right;">
                <form method="post" style="display:inline;">{% csrf_token %}
                    <select name="ideas" onchange="this.form.submit()">
                        {% for value in dropdown_list %}
                        <option value="{{ value }}" {% if items.ideas == value %}selected{% endif %}>
                        {{ value }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="panel-body">
                {% if idea_list %}
                <p align="center">
                </p>
                {% for idea in idea_list %}

                    {% if idea.translation %} {# if idea translated #}

                            {% if idea.object.is_link %}
                                {% if idea.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if idea.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                        <b>
                            {% if idea.object.personal %}
                            <i class="fa {% if idea.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                            {% endif %}
                            $ {{ idea.object.get_usd|floatformat:2 }}/{{ idea.object.get_remain_usd|floatformat:2 }}

                        </b>

                        {% if idea.is_new %} {# if idea is new #}

                            <b><a href="{% url "idea-detail" idea.object.pk %}?lang={{idea.translation.language.language_code}}#{{idea.object.commented_at|date:"U"}}">{{ idea.translation.name }}</a></b>

                        {% else %} {# if idea is old #}
                            <a href="{% url "idea-detail" idea.object.pk %}?lang={{idea.object.language.language_code}}#{{idea.object.commented_at|date:"U"}}">{{ idea.translation.name }}</a>

                        {% endif %}

                        ({{idea.object.comment_count}} comments</a>)

                        <br/>

                        <p>{{idea.translation.description|markdown|truncatewords_html:34}}</p>

                    {% endif %}
                {% endfor %}
                <a href="{% url "idea-list" %}">{% trans "see more" %}</a>

                {% else %}
                <center>
                    <p>{% trans "Oops! You have no ideas!" %}</p>
                    <p><a href="{% url "idea-create" %}">{% trans "Add a solution" %}</a></p>
                    <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                </center>

                {% blocktrans %}
                <p><i><u>Example ideas:</u></i></p>
                <p><b>$ 0.00 Roof Mini-Farm With Automated Egg Processor</b></p>
                <p>Hens don't really require much human work to maintain. Set up the robotic feeders, egg collectors, washers, breakers, timed mixers, spicers, cookers and dispensers - and have a self-sustaining supply of fresh omelete.</p>
                {% endblocktrans %}

                {% endif %}
            </div>
        </div>

    {% if request.get_full_path == '/i' %}
        <div class="panel panel-default col-md-4 block-content">
    {% else %}
        <div class="panel panel-default col-md-7 block-content">
    {% endif %}
            <div class="panel-heading">
                <a href="{% url "plan-list" %}">{% trans "Plans" %}</a>&nbsp;
                <a href="{% url "plan-create" %}"><i class="fa fa-plus-circle"></i></a>&nbsp; -
                <b>{% trans "start a project" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="plans" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.plans == value %}selected{% endif %}>
                            {{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if plan_list %}

                {% for plan in plan_list %}
                    {% if plan.translation %}  {# if plan translated #}

                            {% if plan.object.is_link %}
                                {% if plan.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if plan.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                    <b>
                        {% if plan.object.personal %}
                        <i class="fa {% if plan.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                        {% endif %}

                        $ {{ plan.object.get_usd|floatformat:2 }}/{{ plan.object.get_remain_usd|floatformat:2 }}
                    </b>

                    {% if plan.is_new %} {# if plan is new #}

                        <b><a href="{% url "plan-detail" plan.object.pk %}?lang={{plan.translation.language.language_code}}#{{plan.object.commented_at|date:"U"}}">{{ plan.translation.name }}</a></b>

                    {% else %} {# if plan is old #}

                        <a href="{% url "plan-detail" plan.object.pk %}?lang={{plan.translation.language.language_code}}#{{plan.object.commented_at|date:"U"}}">{{ plan.translation.name }}</a>
                    {% endif %}

                ({{plan.object.comment_count}} comments)

                <br/>

                <p>{{plan.translation.situation|markdown|truncatewords_html:34}}</p>

                    {% endif %}
                {% endfor %}
                <a href="{% url "plan-list" %}">{% trans "see more" %}</a>

                {% else %}
                <center>
                    <p>{% trans "Oops! You have no plans!" %}</p>
                    <p><a href="{% url "plan-create" %}">{% trans "Add a project" %}</a></p>
                    <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                </center>
                {% blocktrans %}

                <p><i><u>Example:</u></i></p>
                <p><b>$ 0.00 Omelette Microfarm Project</b></p>
                <p><u>Situation:</u> I in Dublin, Ireland, with my friend X.</p>
                <p><u>Destination:</u> we have a microfarm solution to home owners.</p>
                {% endblocktrans %}
                {% endif %}
            </div>
        </div>

    {% if request.get_full_path == '/i' %}
        <div class="panel panel-default col-md-4 block-content">
    {% else %}
        <div class="panel panel-default col-md-7 block-content">
    {% endif %}
            <div class="panel-heading">
                <a href="{% url "step-list" %}">{% trans "Steps" %}</a>&nbsp;
                <i class="fa fa-minus-square-o"></i>&nbsp; -
                <b>{% trans "break it down" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="steps" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.steps == value %}selected{% endif %}>
                            {{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if step_list %}


                {% for step in step_list %}
                    {% if step.translation %} {# if step translated #}

                            {% if step.object.is_link %}
                                {% if step.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if step.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                        <b>
                            {% if step.object.personal %}
                            <i class="fa {% if step.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                            {% endif %}
                            $ {{ step.object.get_usd|floatformat:2 }}/{{ step.object.get_remain_usd|floatformat:2 }}
                        </b>

                        {% if step.is_new %} {# if step is new #}

                            <b><a href="{% url "step-detail" step.object.pk %}?lang={{step.translation.language.language_code}}#{{step.translation.commented_at|date:"U"}}">{{ step.translation.name }}</a></b>

                        {% else %} {# if step is old #}

                            <a href="{% url "step-detail" step.object.pk %}?lang={{step.translation.language.language_code}}#{{step.translation.commented_at|date:"U"}}">{{ step.translation.name }}</a>

                        {% endif %}

                        ({{step.object.comment_count}} comments)

                        <br/>

                        <p>{{step.translation.objective|markdown|truncatewords_html:34}}</p>

                    {% endif %}
                {% endfor %}

                <a href="{% url "step-list" %}">{% trans "see more" %}</a>
                {% else %}
                <center>
                    <p>{% trans "Oops! You have no steps!" %}</p>
                    <p>{% trans "Start a project to add milestones" %}</p>
                    <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                </center>

                {% blocktrans %}
                <p><i><u>Example:</u></i></p>
                <p><b>$ 0.00 Check existing solutions</b></p>
                <p><u>Objective:</u> find out best technologies small farms use.</p>
                <p><b>$ 0.00 Ideate on specific combination of them</b></p>
                <p><u>Objective:</u> Come out with a viable candidate of full integration.</p>
                <p><b>$ 0.00 Compute the expected costs of development and returns. </b></p>
                <p><u>Objective:</u> Come out with a viable business plan.</p>
                ...
                {% endblocktrans %}
                {% endif %}
            </div>
        </div>

    {% if request.get_full_path == '/i' %}
        <div class="panel panel-default col-md-4 block-content">
    {% else %}
        <div class="panel panel-default col-md-7 block-content">
    {% endif %}
            <div class="panel-heading">
                <a href="{% url "task-list" %}">{% trans "Tasks" %}</a>&nbsp;
                <i class="fa fa-minus-square-o"></i>&nbsp; -
                <b>{% trans "execute it" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="tasks" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.tasks == value %}selected{% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if task_list %}

                {% for task in task_list %}
                    {% if task.translation %} {# if task translated #}

                            {% if task.object.is_link %}
                                {% if task.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if task.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                        <b>
                            {% if task.object.personal %}
                            <i class="fa {% if task.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>{% endif %}

                            $ {{ task.object.get_usd|floatformat:2 }}/{{ task.object.get_remain_usd|floatformat:2 }}
                        </b>

                        {% if task.is_new %} {# if task is new #}

                            <b><a href="{% url "task-detail" task.object.pk %}?lang={{task.translation.language.language_code}}#{{task.object.commented_at|date:"U"}}">{{ task.translation.name }}</a></b>

                        {% else %}

                            <a href="{% url "task-detail" task.object.pk %}?lang={{task.translation.language.language_code}}#{{task.object.commented_at|date:"U"}}">{{ task.translation.name }}</a>

                        {% endif %}

                        ({{task.object.comment_count}} comments)

                        <!-- task has no body -->

                        <br>

                    {% endif %}

                {% endfor %}

                <a href="{% url "task-list" %}">{% trans "see more" %}</a>
                {% else %}
                <center>
                    <p>{% trans "Oops! You have no tasks!" %}</p>
                    <p>{% trans "Choose a milestone to add tasks" %}</p>
                    <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                </center>
                {% blocktrans %}
                <p><i><u>Example:</u></i></p>
                <p><b>$ 0.00 Open the internet and do a research.</b></p>
                ...
                {% endblocktrans %}
                {% endif %}
            </div>
        </div>


    {% if request.get_full_path == '/i' %}
        <div class="panel panel-default col-md-4 block-content">
    {% else %}
        <div class="panel panel-default col-md-7 block-content">
    {% endif %}
            <div class="panel-heading">
                <a href="{% url "work-list" %}">{% trans "Works" %}</a>&nbsp;
                <i class="fa fa-minus-square-o"></i>&nbsp; -
                <b>{% trans "did it" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="works" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.works == value %}selected{% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if work_list %}

                {% for work in work_list %}
                    {% if work.translation %} {# if task translated #}

                            {% if work.object.is_link %}
                                {% if work.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% else %}
                                <span class="badge">{% trans "link" %}</span>
                                {% endif %}
                            {% else %}
                                {% if work.object.is_historical %}
                                <span class="badge" style="background-color: brown;">{% trans "historical" %}</span>
                                {% endif %}
                            {% endif %}

                        <b>
                            {% if work.object.personal %}
                            <i class="fa {% if work.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>{% endif %}

                            $ {{ work.object.get_usd|floatformat:2 }}/{{ work.object.get_remain_usd|floatformat:2 }}
                        </b>

                        {% if work.is_new %} {# if task is new #}

                            <b><a href="{% url "work-detail" work.object.pk %}?lang={{work.translation.language.language_code}}#{{work.object.commented_at|date:"U"}}">{{ work.translation.name }}</a></b>

                        {% else %}

                            <a href="{% url "work-detail" work.object.pk %}?lang={{work.translation.language.language_code}}#{{work.object.commented_at|date:"U"}}">{{ work.translation.name }}</a>

                        {% endif %}

                        ({{work.object.comment_count}} comments)

                        <!-- task has no body -->

                        <br>

                    {% endif %}

                {% endfor %}

                <a href="{% url "work-list" %}">{% trans "see more" %}</a>
                {% else %}
                <center>
                    <p>{% trans "Oops! You have no works!" %}</p>
                    <p>{% trans "Choose a task to add works" %}</p>
                    <p>{% trans "...or view" %} <a href="{% url "index" %}">{% trans "<u>index</u>" %}</a>.</p>
                </center>
                {% blocktrans %}
                <p><i><u>Example:</u></i></p>
                <p><b>$ 0.00 Here's my research paper.</b></p>
                ...
                {% endblocktrans %}
                {% endif %}
            </div>


    </div>
    <div align="center">{% trans "People-centric economy." %}</div>
</div>
{% endblock content %}
