{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block page_title %}Help{% endblock page_title %}

{% block content %}
<h1>The Infinity Project Use Policy</h1>

<p>By participating in the collective public conversation on the Infinity Project, be aware of the policy of the project's creators, under THE INFINITY PROJECT, INC. The policy will be extended as the need arises, by updating this document. The basic guiding principle for our policy is:</p>


<blockquote><i>To serve the interest of all life, aspiring to create the conditions where everything that anyone truly wishes would come true.</i></blockquote>

<p>Due to the difficulty in deciding the right from wrong in the uncertain world, it is our policy to formally accept all local regulations, and follow the local laws in all states and countries where we formally operate.</p>

<h2>The Speech</h2>
<p><b>As a think-tank, the Infinity Project supports the free exchange of information.</b> The restrictions will be put in place as the need arises. For example, we will reduce the visibility of the topics, which appear to be risky for the long-term survival of all, but especially the intelligent and sentient life on Earth. This is our policy to do so, and to ask the local governments this question, when a need to remove or restrict access to content arises. It is our current practise to consult the <a href="http://www.fhi.ox.ac.uk/">Future of Humanity Institute</a> regarding existential uncertainties.</p>

<h2>The Money</h2>
<p><b>As a think-tank, the Infinity Project supports the free exchange of monetary resources.</b> The retrictions will be put in place as the need arises. For example, we will ban users from supporting projects that appear to be risky for the long-term survival of all, and especially the intelligent and sentient life on Earth.</p>

<h3>PayPal</h3>

Our policy for the usage of PayPal payment button is matching, verbatim, the <a href="https://www.paypal.com/lt/webapps/mpp/ua/acceptableuse-full">PayPal acceptable use policy</a>. Please, read it, and do make sure you are not misusing our systems.

<h3>Cryptsy</h3>

Our policy for the usage of Cryptsy payment button is subject to this policy.



{% endblock content %}
