{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}CryptsyCredential list{% endblock title %}

{% block content %}
<h1>CryptsyCredential list</h1>
<div class="actions">
    <a class="btn btn-success" href="{% url "payments:cryptsy_credential_create"   %}">
        Add new
    </a>
</div>
<br/>
<br/>
<div>
    Get a credential by visiting your <a href="https://www.cryptsy.com/users/settings">Cryptsy user settings</a>, and enabling 2FA to generate API keys.
</div>
<br/>

<div class="search-block">
</div>
<br/>


{% for object in object_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>private key</b>: {{object.privatekey}}

    </div>
    <div class="">
        <b>public key</b>: {{object.publickey}}

    </div>
    <div class="">
        <b>tradekey</b>: {{object.tradekey}}

    </div>
    <div class="">
        <b>notification token</b>: http://{{current_domain}}{% url "cryptsy_notification_token" request.user.username object.id %}

    </div>

<div class="actions">
    <a class="btn btn-primary" href="{% url "payments:cryptsy_credential_update" object.pk %}">Update</a>
    <a class="btn btn-primary btn-danger" href="{% url "payments:cryptsy_credential_delete" object.pk %}">Delete</a>
    <form action="." method="post">{% csrf_token %}
        <input type="hidden" name="credential_id" value="{{ object.pk }}" />
        <button type="submit" {% if object.default %} disabled {% endif %} class="btn btn-success" id="submit">Select default</button>
    </form>
</div>
</div>
</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
