{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Step create{% endblock title %}

{% block content %}

<h1>Step create</h1>
<br/>
<br/>
<table class="table">
    <tr>
        <td>Plan</td>
        <td>

            <b>The</b> <a href="{% url "plan-detail" plan_object.pk %}">{{plan_object}}</a> <b>approach for</b> <a href="{% url "idea-detail" plan_object.idea.pk %}">{{ plan_object.idea.name }}</a> <b>idea.</b>

        </td>
    </tr>
</table>
<div>
    
</div>
<br/>

{% crispy form %}
{% markdown_media %}

{% endblock content %}
