{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load django_markdown %}


{% block title %}s: {{ object.name }}{% endblock title %}

{% block content %}

<script>
function showMore(){
    document.getElementById("stats").innerHTML = "<span onmouseout='showLess()'>[<u>assumed</u> {{ object.total_assumed|floatformat:2 }} h, <u>donated</u> {{ object.total_donated|floatformat:2 }} ħ, <u>claimed</u> {{ object.total_claimed|floatformat:2 }}, <u>matched</u> {{ object.total_matched|floatformat:2}} ḥ]</span>";
}

function showLess(){
    document.getElementById("stats").innerHTML = "<span onmouseover='showMore()'><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>";
}
</script>

<div class="panel panel-default box col-sm-12 col-md-7">
<div class="panel-body">
    <div class="alignleft"><a href="#id_name"><i class="fa fa-share"></i></a></div>
      <div class="alignright" id="stats">
        <span onmouseover="showMore()"><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>
      </div>
      <div style="clear:both;"></div>
	step of plan <a href="{% url "plan-detail" object.plan.pk %}">{{object.plan}}</a>
	<h1>{{object.name}}</h1>{% if object.user == request.user %}[<a href="{% url "step-update" object.pk %}">edit</a>, <a href="{% url "step-delete" object.pk %}">delete</a>]{% endif %}
	<br/>
	<br/>


	{{object.objective|markdown}}

	<br/>
	<br/>

	<div class="breadcrumb">
	<i>input:</i> {{object.investables}}
	</div>

	<div class="breadcrumb">
	<i>output:</i> {{object.deliverables}}
	</div>

	<div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>

<div class="panel-heading"><a href="{% url "task-create" object.pk %}">+New Task</a></div>
<div class="panel-body">
{% for object in task_list reversed %}
    <ul class="list-group">
      <li class="list-group-item">
      <b>[{{object.total_claimed|floatformat:1}}/{{object.total_assumed|floatformat:1}} h]</b> <a href="{% url "task-detail" object.pk %}">{{object.name}}</a>
      </li>
    </ul>
{% endfor %}
</div>
</div>
</div>

{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
