{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load django_markdown %}


{% block title %}s: {{ object.name }}{% endblock title %}

{% block content %}

<script>
function showMore(){
    document.getElementById("stats").innerHTML = "<span onmouseout='showLess()'>[<u>assumed</u> {{ object.total_assumed|floatformat:2 }} h, <u>donated</u> {{ object.total_donated|floatformat:2 }} ħ, <u>claimed</u> {{ object.total_claimed|floatformat:2 }}, <u>matched</u> {{ object.total_matched|floatformat:2}} ḥ]</span>";
}

function showLess(){
    document.getElementById("stats").innerHTML = "<span onmouseover='showMore()'><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>";
}
</script>

<div class="panel panel-default box col-sm-12 col-md-7">
<div class="panel-body">
    <div class="alignleft"><a href="#id_name" onclick="getfocus()"><i class="fa fa-share"></i></a></div>
      <div class="alignright" id="stats">
        <span onmouseover="showMore()"><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>
      </div>
      <div style="clear:both;"></div>
      step of plan <a href="{% url "plan-detail" object.plan.pk %}">{{object.plan}}</a><br/>
    translations:
    <!-- translations -->
    {% for translation in translations %}
    {% if translation.language.language_code %}
    <a href="{% url "step-detail" object.id %}?lang={{translation.language.language_code }}">
        [{{ translation.language.language_code }}]
    </a>
    {% endif %}
    {% endfor %}
    <a href="{{ translate_url }}">[+]</a>
    <!-- /translations -->
    <h1>{% if not translation %}{{object.name}}{% else %}{{ translation.name}}{% endif %}</h1>
        {% if object.is_link %}
        <div>
            <i><span style="color:grey;">{% trans "Source:" %} <a href="{{ object.url }}" style="color:grey;">{{ object.url }}</a>.</span></i>
        </div>
        {% endif %}
    {% if object.user == request.user %}[<a href="{% if not translation %}{% url "step-update" object.pk %}{% else %}{% url "update-translation" translation.pk %}{% endif %}">edit</a>, <a href="{% if not translation %}{% url "step-delete" object.pk %}{% else %}{% url "delete-translation" translation.pk %}{% endif %}">delete</a>]<br/>{% endif %}
	<br/>

    {% if not translation %}
	{{object.objective|markdown}}
    {% else %}
    {{translation.objective|markdown}}
    {% endif %}

	<br/>
	<br/>

	<div class="breadcrumb">
        <i>input:</i> {% if not translation %}{{object.investables}}{% else %}{{translation.investables}}{% endif %}
	</div>

	<div class="breadcrumb">
        <i>output:</i> {% if not translation %}{{object.deliverables}}{% else %}{{translation.deliverables}}{% endif %}
	</div>

	<div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>

    {% if object.personal %}<i class="fa {% if object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i> [<u>shared with:</u> {% for member in object.sharewith.all %} <a href="{% url 'user-detail' member.username %}">{{ member.username }}</a>{%if not forloop.last%}, {%endif%}{% endfor %}]{% endif %}

  </div>

<div class="panel-heading"><a href="{% url "task-create" object.pk %}">+New Task</a></div>
<div class="panel-body">
{% for object in task_list reversed %}
    <ul class="list-group">
      <li class="list-group-item">
      <b>[{{object.total_claimed|floatformat:1}}/{{object.total_assumed|floatformat:1}} h]</b> <a href="{% url "task-detail" object.pk %}">{{object.name}}</a>
      </li>
    </ul>
{% endfor %}
</div>
</div>

{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
