{% extends "base.html" %}


{% block content %}

{% for idea in ideas %}

<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">
        <div class="">
            <b>description</b>: {{idea.description}}
        </div>
        <div class="">
            <b>user</b>: {{idea.user}}
        </div>
        <div class="">
            <b>personal</b>: {{idea.personal}}
        </div>
        <div class="">
            <a href="{% url "idea-detail" idea.pk %}">Detail</a>
        </div>
    </div>
</div>

{% endfor %}

{% for plan in plans %}
<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">
        <div class="">
            <b>name</b>: {{plan.name}}
        </div>
        <div class="">
            <b>user</b>: {{plan.user}}
        </div>
        <div class="">
            <b>personal</b>: {{plan.personal}}
        </div>
        <div class="">
            <a href="{% url "plan-detail" plan.pk %}">Detail</a>
        </div>
    </div>
</div>


{% endfor %}
{% for step in steps %}

<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">
        <div class="">
            <b>name</b>: {{step.name}}
        </div>
        <div class="">
            <b>user</b>: {{step.user}}
        </div>
        <div class="">
            <b>personal</b>: {{step.personal}}
        </div>
        <div class="">
            <a href="{% url "step-detail" step.pk %}">Detail</a>
        </div>
    </div>
</div>


{% endfor %}
{% for task in tasks %}

<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">
        <div class="">
            <b>name</b>: {{task.name}}
        </div>
        <div class="">
            <b>user</b>: {{task.user}}
        </div>
        <div class="">
            <b>personal</b>: {{task.personal}}
        </div>
        <div class="">
            <a href="{% url "task-detail" task.pk %}">Detail</a>
        </div>
    </div>
</div>

{% endfor %}

{% for goal in goals %}

<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">
        <div class="">
            <b>name</b>: {{goal.name}}
        </div>
        <div class="">
            <b>user</b>: {{goal.user}}
        </div>
        <div class="">
            <b>personal</b>: {{goal.personal}}
        </div>
        <div class="">
            <a href="{% url "goal-detail" goal.pk %}">Detail</a>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}
