{% load i18n %}
<style>
.inactive {
    color:grey;
}
.inactive:hover { 
    color: black;
    cursor: pointer; 
}
#goal:hover {
    text-shadow: 0 0 25px #F6358A;
}
#idea:hover {
    text-shadow: 0 0 25px lime;
}
#plan:hover {
    text-shadow: 0 0 25px yellow;
}
</style>
<script>
$(document).on("click", "#goal", function(){
    window.location.href = "{% url "goal-create" %}";
});
$(document).on("click", "#idea", function(){
    window.location.href = "{% url "idea-create" %}";
});
$(document).on("click", "#plan", function(){
    window.location.href = "{% url "plan-create" %}";
});

var request_path = "{{ request.path }}";

$(document).ready(function(){
	if (request_path.indexOf('/goal-create/') > -1) {
		$('#goal').css('color', 'black');
		$('#goal').css('text-shadow', '0 0 25px #F6358A');
    }
	else if (request_path.indexOf('/idea-create/') > -1) {
		$('#idea').css('color', 'black');
		$('#idea').css('text-shadow', '0 0 25px lime');
    }
	else if (request_path.indexOf('/plan-create/') > -1) {
		$('#plan').css('color', 'black');
		$('#plan').css('text-shadow', '0 0 25px yellow');
    }
});


</script>


<button onclick="window.location.href='{% url 'home' %}';"><<</button>
<table width="80%" align="center">
    <tr align="center">
        <td class="inactive" id="goal"> 
            <p style="font-size:85px; align:center;">
            <i class="fa fa-bug"></i>
            </p>
            <p style="font-size:45px; align:center;">
            {% trans "Problem" %}
            </p>
        </td>
        <td class="inactive" id="idea"> 
            <p style="font-size:85px; align:center;">
            <i class="fa fa-paper-plane"></i>
            </p>
            <p style="font-size:45px; align:center;">
            {% trans "Solution" %}
            </p>
        </td>
        <td class="inactive" id="plan"> 
            <p style="font-size:85px; align:center;">
            <i class="fa fa-rocket"></i>
            </p>
            <p style="font-size:45px; align:center;">
            {% trans "Project" %}
            </p>
        </td>
    </tr>
</table>
