{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load django_markdown %}
{% load country_isocode %}

{% block extra_js %}
  <script src="{% static 'js/create_definition.js' %}"></script>
  {% if request|get_country_by_ip != 'CN' %}
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  {% else %}
   <script src="{% static "cdn/jqueryui/1.11.2/jquery-ui.min.js" %}"></script>
  {% endif %}
{% endblock extra_js %}

{% block extra_css %}
  {% if request|get_country_by_ip != 'CN' %}
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cantarell" />
  {% else %}
   <link rel="stylesheet" href="{% static "cdn/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" %}" />
   <link rel="stylesheet" type="text/css" href="{% static "cdn/fonts/css/family/Cantarell.css" %}" />
  {% endif %}
{% endblock extra_css %}

{% block title %}infty.xyz{% endblock title %}

{% block content %}

<div align="center">
    <a href="{% url "index" %}" style="text-decoration: none;"><span class="infin">f(x)=</span><span class="ity">y</span></a>
</div>
<div class="actions">
</div>

<!-- for video pop-up -->
<script type="text/javascript" src="{% static "cdn/jquery/jquery-migrate-1.2.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "cdn/fancybox/jquery.fancybox-1.3.4.pack.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "cdn/fancybox/jquery.fancybox-1.3.4.css" %}" media="screen" />
<script type="text/javascript" src="{% static "cdn/fancybox/video.js" %}"></script>
{% if request.user.is_authenticated %}
<p>
<center><a class="video btn-sm" style="color: black; background-color: white; padding: 0.5% 0.5% 0.5% 0.5%;" href="https://www.youtube.com/v/a0mO143FfUI?hd=1&autoplay=1&autohide=1&showinfo=0&rel=0&wmode=transparent">{% trans "- how to get your share in projects -" %}</a></center>
</p>
{% else %}

<br/>
<p>
<div align="center" style="background-color: #ffffff;">

{% if request|get_country_by_ip != 'CN' %}
<a class="video btn-lg" style="color: white; background-color: black; padding: 0.5% 0.5% 0.5% 0.5%;" href="https://www.youtube.com/v/zeBgP31KaqY?hd=1&autoplay=1&autohide=1&showinfo=0&rel=0&wmode=transparent">{% trans "Theory" %}</a>
<a class="video btn-lg" style="color: black; background-color: white; padding: 0.5% 0.5% 0.5% 0.5%;" href="https://www.youtube.com/v/yDDWh-349jQ?hd=1&autoplay=1&autohide=1&showinfo=0&rel=0&wmode=transparent">{% trans "Practice" %}</a>
<br/>
{% else %}
<a class="btn-lg" style="color: white; background-color: grey;" href="http://player.youku.com/player.php/sid/XMTQwODY3ODcyOA/v.swf" target="_blank">{% trans "Video" %}</a>
{% endif %}
</div>

</p>
{% endif %}
<h3 align="center">{% trans "Define what you need" %}</h3>
<br/>
{% crispy form %}
{% markdown_media %}
<br/>
<center><a href="{% url "need-create" 1 %}"><span class="start-example">{% trans "e.g.:" %}</span> <span class="expression-example">{% trans "spaceship" %}</span><span class="definition-example">: {% trans "vessel or machine designed to fly in outer space" %}</span></a></center>
{% endblock content %}
