{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Goal create{% endblock title %}

{% block content %}

<h1>{% trans "Goal create" %}</h1>
<br/>
{% blocktrans %}
<center><i><font color="grey">Goal is a negation of problem. Define a problem.</font></i></center>
{% endblocktrans %}
<br/>
{% if need_object %}
<table class="table">
    <tr>
        <td>Need</td>
        <td>

            <a href="{% url "need-detail" need_object.pk %}">{{need_object}}</a>

        </td>
    </tr>
</table>
{% endif %}
<div>
    
</div>
<br/>

{% crispy form %}

{% csrf_token %}
{% markdown_media %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var s2_endpoints_param_gen = function(term, page) {
        var proxFunc = $.proxy(django_select2.get_url_params, this);
        // no need for a custom func here.
        var results = proxFunc(term, page, 'django_select2.process_results');
        results.type = $('#id_type').val();
        return results;
    };
</script>
{% endblock %}
