{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Goal create{% endblock title %}

{% block content %}

<h1>Goal create</h1>
<br/>
<br/>
<div>
    
</div>
<br/>

{% crispy form %}

{% csrf_token %}

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var s2_endpoints_param_gen = function(term, page) {
        var proxFunc = $.proxy(django_select2.get_url_params, this);
        // no need for a custom func here.
        var results = proxFunc(term, page, 'django_select2.process_results');
        results.type = $('#id_type').val();
        return results;
    };

    $(function() {
        $("#id_need").change(function(data) {
            var need_name = data.added.text;
            var type_id = $('#id_type').val();
            $.ajax({
                method: 'POST',
                url: '{% url "need-ajax-create" %}',
                data: {
                    'need_name': need_name,
                    'type_id': type_id,
                    'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                success: function(data) {
                    $("#id_need").val(data.need_id);
                }
            });
            console.log(data.added.text);
        });
    });
</script>
{% endblock %}
