{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}{{object.name}}{% endblock title %}

{% block content %}


<div class="panel panel-default">
<div class="panel-body">
<h1>{{object.name}}</h1>[<a href="{% url "goal-update" object.pk %}">edit</a>, <a href="{% url "goal-delete" object.pk %}">delete</a>]
<br/>
<br/>
{{object.reason|markdown}}
<div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>
</div>
</div>
        	

<div class="panel panel-default">
<div class="panel-heading">Ideas</div>
<div class="panel-body">
{% for object in idea_list %}
    <ul class="list-group">
      <li class="list-group-item"> 
         <a href="{% url "idea-detail" object.pk %}">{{object.name}}</a>
         <p>{{object.description}}</p>
      </li>
    </ul>
{% endfor %}
<a  href="{% url "idea-create" object.pk %}">+New Idea</a>
</div>
</div>

{# Include comment list with transactions #}
{% include "comment/list.html" %}


{% endblock content %}
