{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Goal detail{% endblock title %}

{% block content %}

<h1>Goal detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "idea-list1"    object.pk   %}"> 
    Idea list
</a>
<a class="btn btn-warning" href="{% url "goal-update"    object.pk   %}"> 
    Goal update
</a>
<a class="btn btn-success" href="{% url "goal-list1"    object.need.pk    %}"> 
    Goal list
</a>
<a class="btn btn-danger" href="{% url "goal-delete"    object.pk   %}"> 
    Goal delete
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Personal</td>
        <td>

        	{{object.personal}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Reason</td>
        <td>

        	{{object.reason}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
    <tr>
        <td>Need</td>
        <td>

        	{{object.need}}
	        

        </td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>

        	{{object.quantity}}
	        

        </td>
    </tr>
</table>

<div class="panel panel-default">
<div class="panel-heading">Ideas</div>
<div class="panel-body">
{% for object in idea_list %}
    <ul class="list-group">
      <li class="list-group-item"> 
         <a href="{% url "idea-detail" object.pk %}">{{object.name}}</a>
         <p>{{object.description}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-info" href="{% url "idea-create"    object.pk   %}"> 
    Idea create
</a>
</div>
</div>

{# Include comment list with transactions #}
{% include "comment/list.html" %}


{% endblock content %}
