{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load django_markdown %}

{% load staticfiles %}
{% block extra_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{% endblock extra_js %}


{% block title %}g: {{object.name}}{% endblock title %}

{% block content %}

<script>
function showMore(){
    document.getElementById("stats").innerHTML = "<span onmouseout='showLess()'>[<u>assumed</u> {{ object.total_assumed|floatformat:2 }} h, <u>donated</u> {{ object.total_donated|floatformat:2 }} ħ, <u>claimed</u> {{ object.total_claimed|floatformat:2 }}, <u>matched</u> {{ object.total_matched|floatformat:2}} ḥ]</span>";
}

function showLess(){
    document.getElementById("stats").innerHTML = "<span onmouseover='showMore()'><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>";
}
</script>

<script>
$(document).ready( function() {
    $(".tiptext").mouseover(function() {
        $(this).children(".description").show();
    }).mouseout(function() {
        $(this).children(".description").hide();
    });
});
</script>

<div class="panel panel-default box col-sm-12 col-md-7">
  <div class="panel-body">
      <div align="right" id="stats">
      <span onmouseover="showMore()"><b>[<u>needs ${{ object.get_remain_usd|floatformat:2 }} for funding {{ object.not_funded_hours|floatformat:2}} hours</u>]</b></span>
      </div>
      <div align="right">
        <span class="tiptext">[<u>hyper-equity</u>: {{ object.get_equity|floatformat:2 }}% ḥ]
           <div class="description" align="left">A fixed percentage of all the future <b>ḥ</b> (<u>time and money spent</u>), which indicates how much goal creator owns of all projects under this problem.</div>
        </span>
      </div>
 
    category: <a href="">{{ object.type }}</a>, related object: <a href="{% url "need-detail" object.need.pk %}">{{object.need }}</a><br/>
    <h1>{{object.name}}</h1>{% if object.user == request.user %}
    [<a href="{% url "goal-update" object.pk %}">edit</a>, <a href="{% url "goal-delete" object.pk %}">delete</a>]{% endif %}
  <br/>
  <br/>

  {{object.reason|markdown}}
  <div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>
  </div>

  <div class="panel-heading">Ideas</div>
  <div class="panel-body">
  {% for object in idea_list %}
      <ul class="list-group">
        <li class="list-group-item"> 
           <a href="{% url "idea-detail" object.pk %}">{{object.name}}</a>
           <p>{{object.description|truncatechars:120}}</p>
        </li>
      </ul>
  {% endfor %}
  <a  href="{% url "idea-create" object.pk %}">+New Idea</a>
  </div>
</div>

        	


{# Include comment list with transactions #}
{% include "comment/list.html" %}


{% endblock content %}
