{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Definition list{% endblock title %}

{% block content %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
  {% for view_type in allowed_view_types %}
    <li><a class="navbar-brand" href="?view_type={{view_type}}">{{view_type|title}}</a></li>
  {% endfor %}
  </ul>
</nav>
<br>
<h1>blocks</h1>
<br/>
<br/>
<div>
    
</div>
<br/>

<div class="search-block">
{% crispy filter.form %}
</div>
<br/>

{% for object in object_list %}
<div class="col-sm-4 item grid-group-item">
<div class="thumbnail">

    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>type</b>: {{object.type}}

    </div>
    <div class="">
        <b>name</b>: {{object.name}}

    </div>

<div class="actions">



    <a class="btn btn-primary" href="{% url "definition-detail" object.pk %}">Definition detail</a>













</div>
</div>
</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
