{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load django_markdown %}

{% block extra_js %}
  <script src="{% static 'js/create_definition.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
{% endblock extra_css %}

{% block title %}Definition create{% endblock title %}

{% block content %}

<div align="center">
    <a href="{% url "inbox" %}"><span class="infin">f(x)=</span><span class="ity">y</span></a>
</div>
<div class="actions">
</div>
<br/>
<h3 align="center">{% trans "Define what you need" %}</h3>
<br/>
{% crispy form %}
{% markdown_media %}
<br/>
{% endblock content %}
