{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load django_markdown %}
{% load country_isocode %}

{% block extra_js %}
  <script src="{% static 'js/create_definition.js' %}"></script>
  {% if request|get_country_by_ip != 'CN' %}
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  {% else %}
   <script src="{% static "cdn/jqueryui/1.11.2/jquery-ui.min.js" %}"></script>
  {% endif %}
{% endblock extra_js %}

{% block extra_css %}
  {% if request|get_country_by_ip != 'CN' %}
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cantarell" />
  {% else %}
   <link rel="stylesheet" href="{% static "cdn/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" %}" />
   <link rel="stylesheet" type="text/css" href="{% static "cdn/fonts/css/family/Cantarell.css" %}" />
  {% endif %}
{% endblock extra_css %}

{% block title %}infty.xyz{% endblock title %}

{% block content %}

<div align="center">
    <a href="{% url "index" %}" style="text-decoration: none;"><span class="infin">f(x)=</span><span class="ity">y</span></a>
</div>
<div class="actions">
</div>
<br/>
<h3 align="center">{% trans "Define what you need" %}</h3>
<br/>
{% crispy form %}
{% markdown_media %}
<br/>
<center><a href="{% url "need-create" 1 %}"><span class="start-example">{% trans "e.g.:" %}</span> <span class="expression-example">{% trans "spaceship" %}</span><span class="definition-example">: {% trans "vessel or machine designed to fly in outer space" %}</span></a></center>
{% endblock content %}
