{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Definitions{% endblock title %}

{% block content %}
<h1>Topics <a href="{% url "definition-create" %}"><i class="fa fa-plus-circle"></a></i></h1>

<div class="search-block" style="text-align: center;">
{% crispy filter.form %}
</div>
<br/>

{% for object in object_list %}
<div class="panel panel-default">
    <div class="panel-heading">(lang:{{object.language.id}}) <a href="{% url "definition-detail" object.id %}">{{ object.name }}</a><p>{{ object.definition }}</p></div>
    <div class="panel-body">
        {{ object.objective }}
    </div>

</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
