{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Works{% endblock title %}

{% block content %}
<h1>Works</h1>

<div class="search-block" style="text-align: center;">
{% crispy filter.form %}
</div>
<br/>

{% for object in object_list %}
<div class="panel panel-default">
    <div class="panel-heading"><a href="{% url "work-detail" object.id %}">{{ object.name }}</a></div>
    <div class="panel-body">
        {{ object.description }}
    </div>

</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
