{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Need create{% endblock title %}

{% block content %}

<style>
#need {
    color:grey;
    text-shadow: 0 0 25px cyan;
}
#need:hover { 
    color: black;
    text-shadow: 0 0 25px cyan;
}
.inactive {
	margin-left: 5%;
}
</style>
<button onclick="window.history.go(-1)"><<</button>
<div class="inactive" id="need" align="left">
	<table>
		<tr>
			<td align="center">
				<p style="font-size:85px; align:center;">
				<i class="fa fa-edit"></i>
				</p>
				<p style="font-size:45px; align:center;">
				{% trans "Letter" %}
				</p>
		    </td>
			<td>
				<p style="margin-left:30%;">{% trans "Write a public letter to society, or a personal one to friends." %}</p>
			</td>
        </tr>
    </table>
</div>


{% if definition_object %}
<center>
    <div>
        <a class="definition" href="{% url "definition-detail" definition_object.pk %}">{{definition_object}}</a>
    </div>
        {{definition_object.definition}}
</center>
{% else %}
{% endif %}
<div>
    
</div>
<br/>

{% crispy form %}

{% csrf_token %}
{% markdown_media %}

{% endblock content %}
