{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Plan detail{% endblock title %}

{% block content %}

<h1>Plan detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "plan-list1"    object.idea.pk    %}"> 
    Plan list
</a>
<a class="btn btn-warning" href="{% url "plan-update"    object.pk   %}"> 
    Plan update
</a>
<a class="btn btn-info" href="{% url "step-create"    object.pk   %}"> 
    Step create
</a>
<a class="btn btn-danger" href="{% url "plan-delete"    object.pk   %}"> 
    Plan delete
</a>
<a class="btn btn-success" href="{% url "step-list1"    object.pk   %}"> 
    Step list
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Updated at</td>
        <td>

        	{{object.updated_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Idea</td>
        <td>

        	{{object.idea}}
	        

        </td>
    </tr>
    <tr>
        <td>Deliverable</td>
        <td>

        	{{object.deliverable}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
    <tr>
        <td>Situation</td>
        <td>

        	{{object.situation}}
	        

        </td>
    </tr>
</table>



{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
