{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Plan list{% endblock title %}

{% block content %}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
  {% for view_type in allowed_view_types %}
    <li><a class="navbar-brand" href="?view_type={{view_type}}">{{view_type|title}}</a></li>
  {% endfor %}
  </ul>
</nav>
<br>
<h1>list</h1>
<br/>
<br/>
<div>
    
</div>
<br/>

<div class="search-block">
{% crispy filter.form %}
</div>
<br/>



{% for object in object_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>name</b>: {{object.name}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>idea</b>: {{object.idea}}

    </div>
    <div class="">
        <b>deliverable</b>: {{object.deliverable}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
    <div class="">
        <b>situation</b>: {{object.situation}}

    </div>

<div class="actions">



    <a class="btn btn-primary" href="{% url "plan-detail" object.pk %}">Plan detail</a>













</div>
</div>
</div>
{% endfor %}


<div class="widget-footer bordered">
    {% include "paginator.html" %}
</div>

{% endblock content %}
