{% extends "mail/base.html" %}
{% load i18n %}

{% block content %}
<p>{% trans "User" %} [{{transaction.sender_user}}] {% trans "has initiated co-creation of an investment instrument:" %}</p>

{% trans "Donor:" %} [{{transaction.sender_user}}]<br/>
{% trans "Acceptor:" %} [{{transaction.receiver_user}}]<br/>
{% trans "Transaction amount:" %} <b>{{transaction.amount}} {{transaction.currency}}</b> <br/>
{%trans "Hours to be donated:" %} {{transaction.hours}} {% trans "hour value:" %} {{hour_value}} (USD/h)<br/>
{%trans "Hours to be matched:" %} <b>{{transaction.hours_matched}}</b><br/>
{%trans "Transaction initiation date:" %} <b>{{transaction.created_at}}</b><br/>
{%trans "Comment URL:" %} <a href="{{domain}}/{{transaction.comment.content_type.name}}/{{transaction.comment.content_object.id}}/detail/?lang={{request.LANGUAGE_CODE}}#comment-{{transaction.comment.id}}"># {{transaction.comment.id}}</a><br/>
{{transaction}}: {% if transaction.paymentExecStatus == 'CREATED' %} {% trans "PENDING" %} {% elif transaction.paymentExecStatus == 'COMPLETED' %} {% trans "FINISHED" %} {% endif %} ({% trans "review status at:" %} <a href="{{domain}}/{{transaction.comment.content_type.name}}/{{transaction.comment.content_object.id}}/detail/?lang={{request.LANGUAGE_CODE}}#pptx-{{transaction.id}}"># {{transaction.id}}</a> )<br/><br/>
{%trans "Work description:" %}
==============================<br/>
{{transaction.comment_text}} <br/>
==============================<br/>


<pre>
    XXXXXXXX           XXXXXXXXXXX
  XX       XX       XXXX         XX
 X           XX   XXX            XX
X              XXX               X
XX            XX XXXX           XX
 XX        XXX      XXXX       XX
   XXXXXXXX             XXXXXXX

        https://infty.xyz
</pre>

{% endblock content %}
