{% extends "base.html" %}
{% load i18n %}
{% load django_markdown %}


{% block title %}u: {{object.username}}{% endblock title %}

{% block content %}
<h1>{{object.username}}</h1>
{% if request.user.is_authenticated %}

    {% if request.user.username == object.username %}[<a href="{% url "user-update" %}">{% trans "edit" %}</a>]{%endif%}

    {% if not request.user.id == object.id %}
        <form class="form-inline" action="{% url "follow" %}" method="post">{% csrf_token %}
            <input type="hidden" name="destination_user_id" value="{{ object.pk }}" />
            <button type="submit" class="btn" id="submit">{% if guest_follow_me %}Unfollow{% else %}Follow{% endif %}</button>
            {% if guest_follow_me %}
            <a class="btn" href="{% url "friend-following" object.username %}"><i class="fa fa-circle"></i></a>
            {% endif %}
        </form>
    {% endif %}

{% endif %}
<br/>
<div>
{{ object.about|markdown}}
</div>

<!-- display user's contributions -->
<button class="btn">{{ object.username }} is interested in</button> : {% for key,value in interest_counts.items %} <button class="btn btn-default">{{ key }}: {{ value }}</button> {% endfor %}
<br/>
<br/>
<div class="panel panel-default">
{% for comment_group in comment_list reversed %}
{% if comment_group.items  %}
<div class="panel-heading">{% if comment_group.goals %}<u>Problems</u>: {% for goal in comment_group.goals %} <a href="">{{ goal.type.name }}: {{ goal.name }}</a>{%if not forloop.last%}, {%endif%}{% endfor %} {% endif %}</div>
    <div class="panel-body">
        <ul class="list-group">
            {% for item in comment_group.items reversed %}
            <li class="list-group-item">
            {% if not item.comment.content_type.name == "goal" %}[<a href="{% if item.comment.content_type.name == "definition" %}
                    {% url "definition-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "goal" %}
                    {% url "goal-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "idea" %}
                    {% url "idea-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "plan" %}
                    {% url "plan-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "step" %}
                    {% url "step-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "task" %}
                    {% url "task-detail" item.comment.content_object.id %}
                    {% elif item.comment.content_type.name == "work" %}
                    {% url "work-detail" item.comment.content_object.id %}
                    {% endif %}">{{item.comment.content_type.name}}: {{ item.comment.content_object.name }}</a>]<br/><br/>{% endif %}
            {{ item.comment.text|markdown }}

            <div align="right">
                [<a href="{% url "payments:transaction_paypal" item.comment.id %}"><i class="fa fa-paypal"></i> PayPal</a>]
                <br/>--[{{ item.comment.user.username }}],
                <a href="{% if item.comment.content_type.name == "definition" %}
                    {% url "definition-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "goal" %}
                    {% url "goal-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "idea" %}
                    {% url "idea-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "plan" %}
                    {% url "plan-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "step" %}
                    {% url "step-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "task" %}
                    {% url "task-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% elif item.comment.content_type.name == "work" %}
                    {% url "work-detail" item.comment.content_object.id %}#comment-{{ item.comment.id }}
                    {% endif %}" %}">{{ item.comment.created_at }}</a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endfor %}
</div>




<!--
<br/>
{% if request.user.is_authenticated %}
    <div class="actions">
            My Comments
        <a class="btn btn-success" href="{% url "payments:cryptsy_credential_list"  %}"> 
            My Cryptsy Credentials
        </a>
        <a class="btn btn-success" href="{% url "payments:coin_address_list"  %}"> 
            My Coin Addresses
        </a>
    </div>
{% endif %}
-->


{% endblock content %}
