{% load crispy_forms_tags %}

{% for object in object_list %}
<div class="col-sm-12 item list-group-item">
    <div class="thumbnail">

        <div class="">
            <b>text</b>: {{object.text}}

        </div>
        <div class="">
            <b>created_at</b>: {{object.created_at}}

        </div>
        <div class="">
            <b>updated_at</b>: {{object.updated_at}}

        </div>
        <div class="">
            <b>user</b>: {{object.user}}

        </div>

        <br />
        <div class="actions">
            {% for transaction in object.paypal_transaction.all %}
            <div class="panel panel-default">
                <div class="panel-heading">PayPal #{{transaction.id}} {{transaction.paymentExecStatus}}</div>
                <div class="panel-body">
                    <p>Amount: {{transaction.amount}} {{transaction.currency}}</p>
                    <p>{{transaction.created_at}}</p>
                </div>
            </div>
            {% endfor %}

            {% for transaction in object.cryptsy_transaction.all %}
            <div class="panel panel-default">
                <div class="panel-heading">Cryptsy #{{transaction.id}}</div>
                <div class="panel-body">
                    <p>Amount: {{transaction.amount}} {{transaction.address.currency_code}}</p>
                    <p>{{transaction.created_on}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="actions">
            <a class="btn btn-default" href="{% url "payments:transaction_paypal" object.id %}"><i class="fa fa-paypal"></i> Pay PayPal</a>
            <a class="btn btn-default" href="{% url "payments:transaction_cryptsy" object.id %}"><i class="fa fa-btc"></i> Pay Cryptsy</a>
        </div>
    </div>
</div>
{% endfor %}



{% crispy form %}

