{% load crispy_forms_tags %}
{% load django_markdown %}

{% for object in object_list %}
<div id="comment-{{object.id}}" class="col-sm-12 item list-group-item">
    <div class="thumbnail">

        <div class="">
           {{object.text|markdown}}

        </div>

        <br />
        <div class="actions">
            {% for transaction in object.paypal_transaction.all %}
            <div class="panel panel-default">
                <div class="panel-heading">PayPal #{{transaction.id}} {{transaction.paymentExecStatus}}</div>
                <div class="panel-body">
                    <p>Amount: {{transaction.amount}} {{transaction.currency}}</p>
                    <p>{{transaction.created_at}}</p>
                </div>
            </div>
            {% endfor %}

            {% for transaction in object.cryptsy_transaction.all %}
            <div class="panel panel-default">
                <div class="panel-heading">Cryptsy #{{transaction.id}}</div>
                <div class="panel-body">
                    <p>Amount: {{transaction.amount}} {{transaction.address.currency_code}}</p>
                    <p>{{transaction.created_on}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="actions">
        {% if object.user == request.user %}
            <a class="btn" href="{% url "payments:transaction_paypal" object.id %}"><i class="fa fa-paypal"></i> PayPal</a>
            <a class="btn" href="{% url "payments:transaction_cryptsy" object.id %}"><i class="fa fa-btc"></i> Cryptsy</a>
            <a class="btn" href="{% url "comment-update" object.id %}?next={{ request.path }}#comment-{{object.id }}"><i class="fa fa-pencil-square-o"></i> Edit</a>
        {% endif %}
        <div class="alignright">
            <b>[<a href="{% url "user-detail" object.user.username %}">{{object.user.username}}</a>], {{object.created_at}}</b>
        </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
{% endfor %}



{% crispy form %}
{% markdown_media %}
