{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load django_markdown %}


{% block title %}w: {{ object.name }}{% endblock title %}

{% block content %}

<div class="panel panel-default">
<div class="panel-body">

    <div align="right">[<u>assumed</u> {{ object.hours_assumed|floatformat:2 }} h, <u>donated</u> {{ object.hours_donated|floatformat:2 }} ħ, <u>claimed</u> {{ object.hours_claimed|floatformat:2 }}, <u>matched</u> {{ object.hours_matched|floatformat:2}} ḥ]</div>

attempt on task <a href="{% url "task-detail" object.task.pk %}">{{object.task}}</a>

<h1>{{ object.name }}</h1>{% if object.user == request.user %}[<a href="{% url "work-update" object.pk %}">edit</a>, <a href="{% url "work-delete" object.pk %}">delete</a>]{% endif %}
<br/>
<br/>

{{object.description|markdown}}
<div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>
</div>
<br/>

<div class="panel-body">
<table class="table">
    <tr>
        <td>Url</td>
        <td>

        	{{object.url}}
        </td>
    </tr>
    <tr>
        <td>File</td>
        <td>

        	{{object.file}}
        </td>
    </tr>
</table>
</div>

<div class="panel-heading">Follow-up Works</div>
<div class="panel-body">
{% for object in work_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "work-detail" object.pk %}">{{object.name}}</a> 
         <p>{{object.description}}</p>
      </li>
    </ul>
{% endfor %}
<a href="{% url "work-create" object.task.pk %}">+New Work</a>
</div>
</div>


{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
