{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Work detail{% endblock title %}

{% block content %}

<h1>Work detail</h1>
<br/>
<div class="actions">
<a class="btn btn-success" href="{% url "work-list1"    object.task.pk    %}"> 
    Work list
</a>
<a class="btn btn-warning" href="{% url "work-update"    object.pk   %}"> 
    Work update
</a>
<a class="btn btn-danger" href="{% url "work-delete"    object.pk   %}"> 
    Work delete
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Url</td>
        <td>

        	{{object.url}}
	        

        </td>
    </tr>
    <tr>
        <td>Created at</td>
        <td>

        	{{object.created_at}}
	        

        </td>
    </tr>
    <tr>
        <td>Updated at</td>
        <td>

        	{{object.updated_at}}
	        

        </td>
    </tr>
    <tr>
        <td>User</td>
        <td>

        	{{object.user}}
	        

        </td>
    </tr>
    <tr>
        <td>File</td>
        <td>

        	{{object.file}}
	        

        </td>
    </tr>
    <tr>
        <td>Parent work id</td>
        <td>

        	{{object.parent_work_id}}
	        

        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>

        	{{object.description}}
	        

        </td>
    </tr>
    <tr>
        <td>Task</td>
        <td>

            <a href="{% url "task-detail" object.task.pk %}">{{object.task}}</a>
	        

        </td>
    </tr>
</table>

<div class="panel panel-default">
<div class="panel-heading">Follow-up Works</div>
<div class="panel-body">
{% for object in work_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "work-detail" object.pk %}">{{object.name}}</a> 
         <p>{{object.description}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-info" href="{% url "work-create"    object.task.pk   %}"> 
    Work create
</a>

</div>
</div>


{# Include comment list with transactions #}
{% include "comment/list.html" %}

{% endblock content %}
