{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% block content %}

<!-- graph -->
<style>
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}
</style>

<!-- form -->
<style>
#id_amount {
  background-color: #90ee90;
}
.btn {
  background-color: #a0a0a0;
  border-color: #d9d9d9;
  color: white; 
  font-size: 18px;
  margin-left: 20px;
  border-radius: 0px;
  font-weight: normal;
  text-transform: none;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif
}
.btn:hover {
  background-color: #000000;
  border-color: #a0a0a0;
}
</style>

<script src="//d3js.org/d3.v3.min.js"></script>

<div style="float:left;"><a href="/{{comment_object.content_type.name}}/{{comment_object.content_object.id}}/detail/?lang={{request.LANGUAGE_CODE}}#comment-{{comment_object.id}}">< {% trans "comment" %} #{{ comment_object.id }}</a></div>

<div style="color:grey; text-decoration:italic; width:75%; margin-left:auto; margin-right:auto;">
	<center><p><a href="javascript:hideshow(document.getElementById('xdiv'))" style="color:grey;">- {% trans "review the things you are investing into" %} -</a></p></center>
	<div id="xdiv" style="display:none;">
    {{ comment_object.text|markdown }}
	</div>
</div>

<div align="center" id="graph"></div>
<div align="center" style="margin-left:-25px; color:grey; font-size:24px;"><span id="match" style="color:black;"></span> <span id="future_match"></span></div>
{% crispy form %}

<center>{% trans "Read our <a href='/policy/'>policy</a>. It is our initial stage, don't invest or promote to people you don't know personally." %}</center>
<div style="color:grey; text-decoration:italic; width:75%; margin-left:auto; margin-right:auto;">
<center><p><a style="display:none;" href="javascript:hideshow(document.getElementById('ydiv'))">- investment information -</a></p></center>
	<div id="ydiv" style="display:none;">
	<p>Completing the transaction gives you the right to 50% of results of claimed XX hours of work, and assumed XX hours of future work, as written in the comment (#123) in question. The comment claim will be recorded for both parties of the transaction at the moment of transaction, and it will serve as a proof of what you had invested into. Make sure that the comment refers to unambiguous a work result, and that you have reasonable expectations about future results. You will receive additional matched hours if the assumed time you invested into will be converted to claimed time.</p>
	</div>
</div>

<script type="text/javascript">
function hideshow(which){
if (!document.getElementById)
return
if (which.style.display=="block")
which.style.display="none"
else
which.style.display="block"
}
</script>


<script>

var hours_donated = {{comment_object.hours_donated}};
var hours_assumed = {{comment_object.hours_assumed}};
var hours_claimed = {{comment_object.hours_claimed}};
var hour_value = {{ hour_value }};
//var invest_remains= {{comment_object.invest_remains}};

// Accounting

var remains = hours_claimed - hours_donated;

if (remains < 0) { 
  hours_claimed = 0;
}
else {
  if (remains < 0) {
    hours_claimed = 0;
  } 
  else {
    hours_claimed = remains;
  }
}

if (remains > 0) {
	// hours_assumed is untouched
}
else {
  hours_assumed = Math.max(0,hours_assumed + remains);
}

var invest_remains = hours_claimed+hours_assumed;

var hours_matched = Math.min(hours_claimed, invest_remains)
var future_matched = Math.min(hours_claimed+hours_assumed, invest_remains) - hours_matched;


var data = function() {
    return [
	{"aspect": "{% trans "Size of Opportunity" %} (h+ĥ)", "assumed": hours_assumed, "claimed": hours_claimed, "donated": 0, "matched": 0},
	{"aspect": "{% trans "Amount to Invest" %} (ħ)",    "assumed": 0, "claimed": 0, "donated": invest_remains, "matched": 0},
	{"aspect": "{% trans "Matched Hours to be Created" %} (ḥ)",       "assumed": 0, "claimed": 0, "donated": 0, "matched": hours_matched}];
}

var aspects = ["assumed", "claimed", "donated", "matched"];

var margin = {top: 20, right: 50, bottom: 30, left: 20},
	width = 790 - margin.left - margin.right,
	height = 250 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
	.rangeRoundBands([0, width]);

var y = d3.scale.linear()
	.rangeRound([height, 0]);

var colors = ["#d9d9d9","#c0c0c0", "#90ee90", "#c0c0c0"];
var z = d3.scale.ordinal().range(colors);

var xAxis = d3.svg.axis()
	.scale(x)
	.orient("bottom");

var yAxis = d3.svg.axis()
	.scale(y)
	.orient("right");

var svg = d3.select("#graph").append("svg")
	.attr("width", width + margin.left + margin.right)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var renderData = function(investment) {

	  var layers = d3.layout.stack()(aspects.map(function(c) {
		return investment.map(function(d) {
		  return {x: d.aspect, y: d[c]};
		});
	  }));

	  x.domain(layers[0].map(function(d) { return d.x; }));
	  y.domain([0, d3.max(layers[layers.length - 1], function(d) { return d.y0 + d.y; })]).nice();

	  var layer = svg.selectAll(".layer")
		  .data(layers)
		.enter().append("g")
		  .attr("class", "layer")
		  .style("fill", function(d, i) { console.log(z(i)); return z(i); });

	  layer.selectAll("rect")
		  .data(function(d) { return d; })
		.enter().append("rect")
		  .attr("x", function(d) { return x(d.x); })
		  .attr("y", function(d) { return y(d.y + d.y0); })
		  .attr("height", function(d) { return y(d.y0) - y(d.y + d.y0); })
		  .attr("width", x.rangeBand() - 1);

	  svg.append("g")
		  .attr("class", "axis axis--x")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis);

	  svg.append("g")
		  .attr("class", "axis axis--y")
		  .attr("transform", "translate(" + width + ",0)")
		  .call(yAxis);

	function type(d) {
	  aspects.forEach(function(c) { d[c] = +d[c]; });
	  return d;
	}
}

function redraw() {
	svg.selectAll("*").remove();
	renderData(data());
}

$("#match").text( "{% trans "matched hours:" %} " +String(hours_matched.toFixed(4))+" ḥ,");
$("#future_match").text( " {% trans "rights to future matched hours:" %} " +String(future_matched.toFixed(4))+" ḥ");
redraw();

$(function() {
  $("#id_amount").bind("keyup change", function() {
    invest_remains = $("#id_amount").val()/hour_value; 
    hours_matched = Math.min(hours_claimed, invest_remains)
    future_matched = Math.min(hours_claimed+hours_assumed, invest_remains) - hours_matched;
	$("#match").text( "{% trans "matched hours:" %} " +String(hours_matched.toFixed(4))+" ḥ,");
	$("#future_match").text( " {% trans "rights to future matched hours:" %} " +String(future_matched.toFixed(4))+" ḥ");
    redraw();
  });
});


</script>


{% endblock content %}
