{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}
{% block content %}



<div class="actions">

{% for transaction in transactions reversed %}

 <!-- progress bar -->
<a href="/{{transaction.comment.content_type.name}}/{{transaction.comment.content_object.id}}/detail/?lang={{request.LANGUAGE_CODE}}#pptx-{{transaction.id}}">
<div class="progress">
    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{transaction.get_matched_percent}}%;">
        <span style="line-height: 35px;">{{transaction.hours_matched|floatformat:2}} ḥ</span>
    </div>
</div>
</a>
<style>
.progress {background: rgba(245, 240, 240, 1); background: -webkit-linear-gradient(top, rgba(224, 221, 221, 1) 0%, rgba(245, 240, 240, 1) 100%); background: linear-gradient(to bottom, rgba(224, 221, 221, 1) 0%, rgba(245, 240, 240, 1) 100%); border: 0px solid rgba(163, 157, 157, 1); border-radius: 0px; height: 39px;}
.progress-bar-custom {background: rgba(136, 147, 156, 1);} 
.progress-striped .progress-bar-custom {background-color: rgba(136, 147, 156, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 35px 35px;}
</style>


 <div class="transaction" name="transaction-{{transaction.id}}" style="width: 100%; line-height: 80%;"><b>
         <a href="/{{transaction.comment.content_type.name}}/{{transaction.comment.content_object.id}}/detail/?lang={{request.LANGUAGE_CODE}}#pptx-{{transaction.id}}">#</a>
         {% if transaction.hours_matched %}
         <span style="color:#a0a0a0; font-weight: normal; text-decoration:underline;" data-toggle="tooltip" title="{{transaction.hours_matched}} ḥ">
         {% else %}
         <span style="color:#c0c0c0; font-weight: normal;">
         {% endif %}
             +{{transaction.hours|floatformat:2}} <a href="https://research.stlouisfed.org/fred2/series/CES0500000003" style="color:#c0c0c0;" target="_blank">ħ</a></span> {{transaction.amount}} {{transaction.currency}}</b> [{{transaction.sender_user}}] → [{{transaction.receiver_user}}]  
     <span style="color:#c0c0c0; font-weight: normal; font-variant: small-caps;">[<i class="fa fa-cc-paypal"></i> <a href="#pptx-{{transaction.id}}">{%trans "tx:"%}</a> 
         {% if transaction.paymentExecStatus == 'CREATED' %}<span style="color: orange;">{% trans "initiated" %}</span>{% elif transaction.paymentExecStatus == 'COMPLETED' %}<span style="color: green;">{% trans "completed" %}</span>{% elif transaction.paymentExecStatus == 'INCOMPLETE' %}<span style="color: brown;">{% trans "incomplete" %}</span>{% elif transaction.paymentExecStatus == 'ERROR' %}<span style="color: red;">{% trans "error" %}</span>{% elif transaction.paymentExecStatus == 'REVERSALERROR' %}<span style="color: red;">{% trans "reversalerror" %}</span>{% endif %}]</span>
</div>
{% empty %}
No investments via PayPal for this user yet.
{% endfor %}
</div>



{% endblock content %}
