{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Task update{% endblock title %}

{% block content %}

<h1>Task object
<span style="text-decoration:none;">[<span class="badge" style="background-color:brown;"><a style="color:white;" href="{% url "task-detail" object.id %}">view</a></span>, <a href="{% url "task-delete" object.id %}">delete</a>]</span>
</h1>
<br/>

[{% trans "translation:"%} <span class="badge"><a style="color:white;" href="{% url "update-translation" object.default_translation_id %}">edit</a></span>, <a href="{% url "task-detail" object.id %}?lang={{object.language.language_code}}">{% trans "view" %}</a>]

<div>
    
</div>
<br/>

{% crispy form %}
{% markdown_media %}

{% endblock content %}
