{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_title %}About{% endblock page_title %}

{% block content %}
<h1>About The Infinity Project</h1>

<p>The Infinity Project (Infty.XYZ) is a structure to openly talk about our needs, goals, ideas, plans, their steps, tasks, and works, and to display and manage the sharing of the relevant resources from person to person. It was created by diverse people with different needs. (To learn more, what each content type is about, see the <a href="/help/">help section</a>.)</p>

<h1>Why?</h1>
<p><blockquote><i>"If we are able to define our goal as mankind, we don't need superhuman A.I., we just need an optimization system solving our Dream=World(X) for optimal actions X."</i></blockquote> Infty.XYZ is an attempt to organize our activities towards defining and pursuing such goal.</p>

<p>The domain infty.xyz name aims to emphasize infinite love, long-term strategy, and cultural neutrality. The project is to serve the interest of all life, aspiring to create the conditions where everything that anyone <u>truly</u> wishes would come true.</p>

<h1>How?</h1>

<p>
<p>The Infty software is written in Python, on Django web framework with PostgreSQL, developed with Vim, and running on Nginx web server.</p>

<p>It is intended to become free software in the coming months, so that everyone can join development and data analysis.</p>

<p>If you have found any bugs, please, use the public trello <a href="https://trello.com/b/46s1Cju4/infty-xyz">board</a>, or join our public irc channel <a href="http://webchat.freenode.net/?channels=infty.xyz">#infty.xyz</a> at <u>irc.freenode.net</u> (<a href="http://dev.infty.xyz/irc.log.html">chatlog</a>).</p>

<h1>How do I sign up?</h1>
<p>Currently, you need an invitation. If you have a friend who uses the service, you can ask for an invite.</p>

<p>Already have an account? Sign in <a href="/user/login/">here</a>.</p>
{% endblock content %}
