{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block page_title %}About{% endblock page_title %}

{% block content %}

<h1>The Infinity Project</h1>

<p>The Infinity Project is an optimization system to openly organize our needs, goals, ideas, plans, their steps, tasks, and works, and to display and manage the sharing of the relevant resources from person to person. (To learn more, see the <a href="/help/"><b>help section</b></a>.)</p>

<h1>Why?</h1>

<p>To see the full picture, please, read <a href="/story/"><b>the story</b></a>. A key reason:</p>

<p><blockquote><i>"If we are able to define our goal as mankind, we don't need superhuman A.I., we just need an optimization system solving our Dream=World(X) for optimal actions X."</i></blockquote> Infty.XYZ is an attempt to organize our activities towards defining and pursuing such goal.</p>

<p>The domain <u>infty.xyz</u> name aims to emphasize <i>infinite love</i>, <i>long-term strategy</i>, and <i>cultural neutrality</i>. The project is to serve the interest of all life, aspiring to create the conditions where everything that anyone <u>truly</u> wishes would come true.</p>

<h1>How?</h1>
<p>By <u><b>collective hierarchical portfolio optimization</b></u> for <b>f(x)=y</b> (where <b>f</b> - world, <b>x</b> - actions, <b>y</b> - goals) via <b>rational cognitive hierarchy (<a href="{% static "docs/need-to-work-hierarchy.pdf" %}">paper</a>)</b>.</p>

<h1>What?</h1>

<p>The Infinity Project itself represents just an instance of the idea described on the paper above, implemented with Python, on Django web framework with PostgreSQL, written  with Vim, and running on Nginx web server. It is intended to become free software in the future, so that everyone can join development and data analysis.</p>
<p>Project is:</p>
<ul>
    <li>Based on abstract content types, class based views, and best practises</li>
    <li>Team iterates on scrum, git flow model</li>
    <li>Fully TDD (100% test coverage)</li>
</ul>

<h1>Who?</h1>

<p>We are a non-profit organization, The Infinity Project Inc. (EIN: 47-4943371), and we embrace the <u>infinity-thinking</u>: just like in mathematics we can often find limits of infinite sequences of numbers, so in real life we should too often be able to tell what is ultimately right and what's wrong.</p>

<ul>
    <li><a href="http://mindey.com">Mindey</a> - idea author and data scientist</li>
    <li><a href="http://aliev.me/">Ali</a> - software engineer and architect</li>
    <li><a href="http://rutadanyte.com">Ruta</a> - growth marketing strategist</li>
</ul>

<h1>Join</h1>

<p>You can <a href="{% url "membership" %}"><b>join us</b></a>, or create another instance of what we do. We hope that, if we have multiple systems like this, we can still integrate them into one distributed decision-making system based on a hierarchy, which can take into account the desires of everyone in order to decide the best outcome for everyone.</p>

<p>We are looking for mathematicians and risk analysts to think about rational decision-making on top of the hierarchy, blockchain experts to record and store voting and financial data, Python developers and strategists to help with responsible scaling process, visual design thinkers who can design lightweight beautiful interfaces without using images. Works ahead include writing the API and developing client applications.</p>

<p>Chat publicly with us on irc channel <a href="http://webchat.freenode.net/?channels=infty.xyz">#infty.xyz</a> at <u>irc.freenode.net</u> (<a href="http://irc.infty.xyz/">chatlog</a>).</p>

<div align="right">
<a href="{% url "data" %}" class="btn-lg" style="color: white; background-color: grey;">{% trans "Open Data" %}</a>
<a href="{% url "dev" %}" class="btn-lg" style="color: white; background-color: grey;">{% trans "Open Source" %}</a>
</div>
<br/>

{% endblock content %}
