{% load staticfiles %}
{% load clever_selects_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}infinity{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}{% endblock head %}
    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootswatch/latest/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- This file store project specific CSS -->
    <link href="{% static 'css/infinity.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to infinity.css -->
    {% block extra_css %}{% endblock extra_css %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'js/infinity.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function(){
      $(".dateinput").datepicker({});
      //$.fn.select2.defaults.allowClear = true;
    })
      
    </script>
    {% block extra_js %}{% endblock extra_js %}
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">infinity</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{% url "need-list" %}">Needs</a>
              </li>
              <li>
                <a href="{% url "goal-list" %}">Goals</a>
              </li>
              <li>
                <a href="{% url "idea-list" %}">Ideas</a>
              </li>
              <li>
                <a href="{% url "plan-list" %}">Plans</a>
              </li>
              <li>
                <a href="{% url "step-list" %}">Steps</a>
              </li>
              <li>
                <a href="{% url "task-list" %}">Tasks</a>
              </li>
              <li>
                <a href="{% url "work-list" %}">Works</a>
              </li>
              {% if request.user.is_authenticated %}
              <li>
                <a href="{% url "user-detail" request.user.username %}">User</a>
              </li>
              <li>
                <a href="{% url "help" %}">Help</a>
              </li>
              <li>
                <a href="{% url "account_logout" %}">Logout ({{ request.user }})</a>
              </li>

              {% else %}

              <li>
                <a href="{% url "help" %}">Help</a>
              </li>
              <li>
                <a href="{% url "account_login" %}">Sign in</a>
              </li>
              <li>
                <a href="{% url "account_signup" %}">Sign up</a>
              </li>

              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
    <div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            {{ message|safe }}
        </div>
    {% endfor %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

      {% block javascript %}
      {% endblock javascript %}

    </div> <!-- /container -->

  </body>
  {% clever_selects_js_import %}
</html>
