{% extends "base.html" %}
{% load i18n %}

{% block title %}/data{% endblock %}

{% block page_title %}/data{% endblock page_title %}

{% block content %}

<h1>{% trans "Open Data" %}</h1>

<p>We believe in open data, and enabling people to use systems in advanced ways to integrate with other systems, and derive useful insights. We are preparing this system to enable you to analyze it through public API. You will be able to programmatically access all of the people's public and your personal data for data analysis.</p>

<p>Send us an e-mail to <u>desk@infty.xyz</u> with subject "<b>data</b>" if you want to get notified, when this will be available.</p>

{% endblock content %}
