{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}/dev{% endblock %}

{% block page_title %}/dev{% endblock page_title %}

{% block content %}
<h1>{% trans "Open Source" %}</h1>

<p>We believe in open development and in open communication between platforms. While we fork our projects for our custom needs and make project copies for the ability to secure the information for our strategic partners and friends, let's try our best to make the forked projects able to communicate between each other, so that we enable people to integrate the information from various platforms, when we need to make global decisions on what's best for everyone.</p>

<p>Our prospective repository</p>

<ul>
    <li><a href="https://github.com/inxyz">https://github.com/inxyz</a></li>
</ul>

<p>Send us an e-mail to <u>desk@infty.xyz</u> with subject "<b>dev</b>" if you want to get notified, when this will be available.</p>

{% endblock content %}
