{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block page_title %}About{% endblock page_title %}

{% block content %}
{% if user.is_anonymous %}
<h1>The Infinity Project</h1>

<p>The Infinity Project (Infty.XYZ) is a <u><i>fund-tank</i></u> to openly talk about our needs, goals, ideas, plans, their steps, tasks, and works, and to display and manage the sharing of the relevant resources from person to person. (To learn more, see the <a href="/help/">help section</a> and read <a href="/story/">the story</a>.)</p>

<h1>Why?</h1>
<p><blockquote><i>"If we are able to define our goal as mankind, we don't need superhuman A.I., we just need an optimization system solving our Dream=World(X) for optimal actions X."</i></blockquote> Infty.XYZ is an attempt to organize our activities towards defining and pursuing such goal.</p>

<p>The domain <u>infty.xyz</u> name aims to emphasize <i>infinite love</i>, <i>long-term strategy</i>, and <i>cultural neutrality</i>. The project is to serve the interest of all life, aspiring to create the conditions where everything that anyone <u>truly</u> wishes would come true.</p>

<h1>How?</h1>

<p>
<p>The Infty.XYZ software is written in Python, on Django web framework with PostgreSQL, developed with Vim, and running on Nginx web server.</p>

<p>It is intended to become free software in the coming months, so that everyone can join development and data analysis.</p>

<p>If you have found any bugs, please, use the public trello <a href="https://trello.com/b/46s1Cju4/infty-xyz">board</a>, or join our public irc channel <a href="http://webchat.freenode.net/?channels=infty.xyz">#infty.xyz</a> at <u>irc.freenode.net</u> (<a href="http://dev.infty.xyz/irc.log.html">chatlog</a>).</p>

<h1>How do I sign up?</h1>
<p>Write an e-mail to <u>forever@infty.xyz</u>. We'll send you an invite.</p>
{% else %}
<div align="right">{% if user.invitationoption.invitations_left %}<b>[You have got <a href="{% url "invite:send"  %}">{{user.invitationoption.invitations_left}} invitations</a> left.]</b>{% else %}<i>Mention [admin] for invitations.</i>{% endif %}</div>
<div align="right">Write bugs and suggestions <a href="/step/2/detail/">here</a>.</div>
<div align="right">Current time value: 1 ħ = <a href="https://research.stlouisfed.org/fred2/series/CES0500000003">{{ hour_value.value|floatformat:2 }}</a> $</a>.</div>
<div align="right">Please note that: 1 ħ + 1 h = 2 ḥ.</div>
<br/>
<p>The recent {{ number_of_items }} items. Items in <b>bold</b> had been created in last <b>{{last_days}}</b> days.</p>

<div class="panel panel-default">
    <div class="panel-heading"><a href="{% url "goal-list" %}">Goals</a>&nbsp; <a href="{% url "goal-create" %}"><i class="fa fa-plus-circle"></a></i></a>&nbsp; - <b>define a problem</b>
    
    <div style="display:inline-block; float: right;"><form method="post" style="display:inline;">{% csrf_token %}<select name="goals" onchange="this.form.submit()">{% for value in dropdown_list %}<option value="{{ value }}" {% if items.goals == value %}selected{% endif %}>{{ value }}</option>{% endfor %}</select></form> items commented in last {{ goal_days }} days.</div></div>
    <div class="panel-body">
    {% for goal in goal_list %}
    <b>$ {{ goal.0.get_usd|floatformat:2 }} </b> {% if goal.1 %}<b>{% endif %}<a href="{% url "goal-detail" goal.0.pk %}">{{ goal.0.name }}</a>{% if goal.1 %}</b>{% endif %} (<a href="{% url "goal-detail" goal.0.pk %}">{{goal.0.comment_count}} comments</a>)<br/>&nbsp; &nbsp; &nbsp; &nbsp; [{{ goal.0.total_donated|floatformat:2 }} ħ donated, {{ goal.0.total_claimed|floatformat:1 }} h claimed, {{ goal.0.total_assumed|floatformat:1}} h assumed, {{ goal.0.total_matched|floatformat:2 }} <a href="">ḥ</a> matched]
    <br>
    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><a href="{% url "idea-list" %}">Ideas</a>&nbsp;<a href="{% url "idea-create" %}"><i class="fa fa-plus-circle"></a></i></a>&nbsp; - <b>suggest a solution</b><div style="display:inline-block; float: right;"><form method="post" style="display:inline;">{% csrf_token %}<select name="ideas" onchange="this.form.submit()">{% for value in dropdown_list %}<option value="{{ value }}" {% if items.ideas == value %}selected{% endif %}>{{ value }}</option>{% endfor %}</select></form> items commented in last {{ idea_days }} days.</div></div>
    <div class="panel-body">
    {% for idea in idea_list %}
    <b>$ {{ idea.0.get_usd|floatformat:2 }} </b> {% if idea.1 %}<b>{% endif %}<a href="{% url "idea-detail" idea.0.pk %}">{{ idea.0.name }}</a>{% if idea.1 %}</b>{% endif %} (<a href="{% url "idea-detail" idea.0.pk %}">{{idea.0.comment_count}} comments</a>)<br/>&nbsp; &nbsp; &nbsp; &nbsp; [{{ idea.0.total_donated|floatformat:2 }} ħ donated, {{ idea.0.total_claimed|floatformat:1 }} h claimed, {{ idea.0.total_assumed|floatformat:1 }} h assumed, {{ idea.0.total_matched|floatformat:2 }} <a href="">ḥ</a> matched]
    <br>
    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{% url "plan-list" %}">Plans</a>&nbsp;<a href="{% url "plan-create" %}"><i class="fa fa-plus-circle"></a></i></a>&nbsp; - <b>start a project</b> <div style="display:inline-block; float: right;"><form method="post" style="display:inline;">{% csrf_token %}<select name="plans" onchange="this.form.submit()">{% for value in dropdown_list %}<option value="{{ value }}" {% if items.plans == value %}selected{% endif %}>{{ value }}</option>{% endfor %}</select></form> items commented in last {{ plan_days }} days.</div>
    </div>
    <div class="panel-body">
    {% for plan in plan_list %}
    <b>$ {{ plan.0.get_usd|floatformat:2 }} </b> {% if plan.1 %}<b>{% endif %}<a href="{% url "plan-detail" plan.0.pk %}">{{ plan.0.name }}</a>{% if plan.1 %}</b>{% endif %} (<a href="{% url "plan-detail" plan.0.pk %}">{{plan.0.comment_count}} comments</a>)<br/>&nbsp; &nbsp; &nbsp; &nbsp; [{{ plan.0.total_donated|floatformat:2}} ħ donated, {{ plan.0.total_claimed|floatformat:1 }} h claimed, {{ plan.0.total_assumed|floatformat:1 }} h assumed, {{ plan.0.total_matched|floatformat:2 }} <a href="">ḥ</a> matched]
    <br>
    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{% url "step-list" %}">Steps</a>&nbsp;<i class="fa fa-minus-square-o"></i>&nbsp; - break it down<div style="display:inline-block; float: right;"> <form method="post" style="display:inline;">{% csrf_token %}<select name="steps" onchange="this.form.submit()">{% for value in dropdown_list %}<option value="{{ value }}" {% if items.steps == value %}selected{% endif %}>{{ value }}</option>{% endfor %}</select></form> items commented in last {{ step_days }} days.</div>
    </div>

    <div class="panel-body">
    {% for step in step_list %}
    <b>$ {{ step.0.get_usd|floatformat:2 }} </b> {% if step.1 %}<b>{% endif %}<a href="{% url "step-detail" step.0.pk %}">{{ step.0.name }}</a>{% if step.1 %}</b>{% endif %} (<a href="{% url "step-detail" step.0.pk %}">{{step.0.comment_count}} comments</a>)<br/>&nbsp; &nbsp; &nbsp; &nbsp; [{{ step.0.total_donated|floatformat:2 }} ħ donated, {{ step.0.total_claimed|floatformat:1 }} h claimed, {{ step.0.total_assumed|floatformat:1 }} h assumed, {{ step.0.total_matched|floatformat:2 }} <a href="">ḥ</a> matched]
    <br>
    {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{% url "task-list" %}">Tasks</a>&nbsp;<i class="fa fa-minus-square-o"></i>&nbsp; - execute it<div style="display:inline-block; float: right;"><form method="post" style="display:inline;">{% csrf_token %}<select name="tasks" onchange="this.form.submit()">{% for value in dropdown_list %}<option value="{{ value }}" {% if items.tasks == value %}selected{% endif %}>{{ value }}</option>{% endfor %}</select></form> items commented in last {{ task_days }} days.</div>
    </div>

    <div class="panel-body">
    {% for task in task_list %}
    <b>$ {{ task.0.get_usd|floatformat:2 }} </b> {% if task.1 %}<b>{% endif %}<a href="{% url "task-detail" task.0.pk %}">{{ task.0.name }}</a>{% if task.1 %}</b>{% endif %} (<a href="{% url "task-detail" task.0.pk %}">{{task.0.comment_count}} comments</a>)<br/>&nbsp; &nbsp; &nbsp; &nbsp; [{{ task.0.total_donated|floatformat:2 }} ħ donated, {{ task.0.total_claimed|floatformat:2 }} h claimed, {{ task.0.total_assumed|floatformat:2 }} h assumed, {{ task.0.total_matched|floatformat:2 }} <a href="">ḥ</a> matched]
    <br>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
