{% extends "base.html" %}
{% load i18n %}

{% load django_markdown %}

{% block title %}Inbox{% endblock %}

{% block page_title %}Inbox{% endblock page_title %}

{% block content %}

{% if not user.is_anonymous %}
<div class="alignright">
    {% if user.invitationoption.invitations_left %}
    <b>
        [<a href="{% url "invite:send"  %}">{{user.invitationoption.invitations_left}} {% trans "invitations" %}</a>, <a href="/step/2/detail/">{% trans "write bugs" %}</a>, {% trans "time value" %}: 1 ħ = <a href="https://research.stlouisfed.org/fred2/series/CES0500000003">{{ hour_value.value|floatformat:2 }}</a> $]
    </b>
    {% endif %}
</div>
{% endif %}

<div class="alignleft">
    {% if not user.is_anonymous %}
    <b>
        [{% if request.resolver_match.url_name == 'wider' %}<a href="{% url "home" %}">{% trans "my index" %}</a>{% else %}<a href="{% url "wider" %}">{% trans "wider index" %}</a>{% endif %}]
    </b>
    {% endif %}
    <!--<input autocomplete="off" tabindex="-1" type="url" aria-hidden="true" size="35" disabled><input type="submit" value="lookup" style="color: GrayText;" disabled>-->
</div>

<div style="clear:both;">
    <br/>

    <link rel="stylesheet" href="/static/css/bootstrap-horizon.css">

    <div class="row row-horizon">
        <div class="panel panel-default col block-content">
            <div class="panel-heading">
                {% trans "Needs" %}
                &nbsp; <a href="{% url "definition-create" %}"><i class="fa fa-plus-circle"></i></a>&nbsp; - <b>{% trans "define a need" %}</b>

                <div style="display:inline-block; float: right;">
                    <form method="post" style="display:inline;">{% csrf_token %}
                        <select name="needs" onchange="this.form.submit()">
                            {% for value in dropdown_list %}
                            <option value="{{ value }}" {% if items.needs == value %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="panel-body">
                {% if need_list %}
                    <p align="center"><i>{% trans "(last commented" %} {{ need_hours }} {% trans "hours ago)" %}</i></p>
                    {% for need in need_list %}
                        {% if need.translation %} {# if need translated #}

                            {% if need.object.is_link %}
                            <span class="badge">{% trans "link" %}</span>
                            {% endif %}

                            <b>
                                {% if need.object.personal %}
                                <i class="fa {% if need.object.user == request.user %}fa-lock{% else %}fa-flag{% endif %}"></i>
                                $ {{ need.object.get_usd|floatformat:2 }}/{{ need.object.get_remain_usd|floatformat:2 }}
                                {% endif %}
                            </b>
                            
                            {% if need.is_new %} {# if need is new #}
                                <b><a href="{% url "need-detail" need.object.pk %}?lang={{need.translation.language.language_code}}#{{need.object.commented_at|date:"U"}}">{{ need.translation.name }}</a></b>

                            {% else %} {# if need is old #}
                                <a href="{% url "need-detail" need.object.pk %}?lang={{need.translation.language.language_code}}#{{need.object.commented_at|date:"U"}}">{{ need.translation.name }}</a>
                            {% endif %}

                            ({{need.object.comment_count}} comments)

                            <br/>

                            <p>{{need.translation.content|markdown|truncatewords_html:34}}</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <center>
                        <p>{% trans "Oops! You have no needs!" %}</p>
                        <p><a href="{% url "definition-create" %}">{% trans "Define a need" %}</a></p>
                        <p>{% trans "...or view" %} <a href="{% url "wider" %}">{% trans "<u>discussion board</u>" %}</a>.</p>
                    </center>

                {% endif %}
            </div>
        </div>

    </div>
    <div align="center">{% trans "People-centric economy." %}</div>
</div>
{% endblock content %}
