{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block extra_js %}
  <script src="{% static 'js/create_need.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
{% endblock extra_css %}

{% block title %}Need create{% endblock title %}

{% block content %}

<h1>The Infinity Project</h1>
<br/>
<div class="actions">
</div>
<br/>
<div>
    <center>it's a <a href="/help/">structured</a> fund-tank to fun-talk about everything...</center>
</div>
<br/>
<h3 align="center">define a topic to talk about</h3>
<br/>
{% crispy form %}
<br/>
<div>
    <center><b>note:</b> a topic is a triplet <i>(language, expression, definition)</i>. Topics are being inter-lingually linked via <a href="http://www.omegawiki.org/">Ω-wiki</a> data.</center>
</div>
{% endblock content %}
