{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load django_markdown %}

{% block title %}Need create{% endblock title %}

{% block content %}

{% if definition_object %}
<center>
    <div>
        <a class="definition" href="{% url "definition-detail" definition_object.pk %}">{{definition_object}}</a>
    </div>
        {{definition_object.definition}}
</center>
{% else %}
<center>
    <div>
        {% trans "Definition not found in WikiData. Please, create a custom definition by entering your own." %}
        <a href="{% url "definition-create" %}">{% trans "Create my definition" %}</a>
    </div>
        {{definition_object.definition}}
</center>
{% endif %}
<div>
    
</div>
<br/>

{% crispy form %}

{% csrf_token %}
{% markdown_media %}

{% endblock content %}

