{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Need detail{% endblock title %}

{% block content %}

<h1>Need detail</h1>
<br/>
<div class="actions">
<a class="btn btn-warning" href="{% url "need-update"    object.pk   %}"> 
    Edit
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Definition</td>
        <td>

        	{{object.definition}}
	        

        </td>
    </tr>
</table>

<div class="panel panel-default">
<div class="panel-heading">Goals</div>
<div class="panel-body">
{% for object in goal_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "goal-detail" object.pk %}">{{object.name}}</a>
         <p>{{object.reason}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-info" href="{% url "goal-create1"    object.pk   %}"> 
    Goal create
</a>
</div>
</div>


{% for object in comment_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">
    <div class="">
        <b>text</b>: {{object.text}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
<div class="actions">
















</div>
</div>
</div>
{% endfor %}



{% crispy form %}


{% endblock content %}
