{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}Need detail{% endblock title %}

{% block content %}

<h1>Need detail</h1>
<br/>
<div class="actions">
<a class="btn btn-info" href="{% url "goal-create1"    object.pk   %}"> 
    Goal create
</a>
<a class="btn btn-warning" href="{% url "need-update"    object.pk   %}"> 
    Edit
</a>
</div>
<br/>
<div>
    
</div>
<br/>

<table class="table">
    <tr>
        <td>Name</td>
        <td>

        	{{object.name}}
	        

        </td>
    </tr>
    <tr>
        <td>Definition</td>
        <td>

        	{{object.definition}}
	        

        </td>
    </tr>
</table>

{% for object in goal_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">

    <div class="">
        <b>name</b>: {{object.name}}

    </div>
<div class="actions">
    <a class="btn btn-primary" href="{% url "goal-detail" object.pk %}">Goal detail</a>
</div>
</div>
</div>
{% endfor %}


{% for object in comment_list %}
<div class="col-sm-12 item list-group-item">
<div class="thumbnail">
    <div class="">
        <b>text</b>: {{object.text}}

    </div>
    <div class="">
        <b>created_at</b>: {{object.created_at}}

    </div>
    <div class="">
        <b>updated_at</b>: {{object.updated_at}}

    </div>
    <div class="">
        <b>user</b>: {{object.user}}

    </div>
<div class="actions">
















</div>
</div>
</div>
{% endfor %}



{% crispy form %}


{% endblock content %}
