{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}n: {{object.name}}{% endblock title %}

{% block content %}

<div class="panel panel-default">
<div class="panel-body">

    <div align="right">[<u>assumed</u> {{ object.total_assumed|floatformat:2 }} h, <u>donated</u> {{ object.total_donated|floatformat:2 }} ħ, <u>claimed</u> {{ object.total_claimed|floatformat:2 }}, <u>matched</u> {{ object.total_matched|floatformat:2}} ḥ]</div>

<u>expression</u>: {{object.name}} (<u>lang_id</u>: {{object.language.id}}) 

<h2><u>Definition</u>: {{object.definition}}</h2>
{% if object.user == request.user %}[<a href="{% url "need-update" object.pk %}">Edit</a>]{%endif%}

<br/>
<br/>
<div class="breadcrumb">
Defined Meaning ID: {{object.defined_meaning_id}}
</div>

<div align="right">--[<a href="{% url 'user-detail' object.user.username %}">{{object.user}}</a>], {{object.created_at}}</div>
</div>

<br/>
<br/>
<div>
    
</div>
<br/>


<div class="panel panel-default">
<div class="panel-heading">Related needs</div>
<div class="panel-body">
{% for object in goal_list %}
    <ul class="list-group">
      <li class="list-group-item">
         <a href="{% url "goal-detail" object.pk %}">{{object.name}}</a>
         <p>{{object.reason}}</p>
      </li>
    </ul>
{% endfor %}
<a class="btn btn-info" href="{% url "goal-create" object.pk %}">
    Add new
</a>
</div>
</div>

</div>

{% include "comment/list.html" %}

{% endblock content %}
